<%- partial('partial/navbar') %>

<div class="container spacer-footer">
	<div class="row">
		<div class="col js-container">
			<div class="row justify-content-center">
				<div class="col col-md-11 col-lg-10">
					<h1 class="display-4 font-handwritten text-center mt-5 mb-4">Custom Social Media Stickers</h1>
					<p class="text-muted text-center">
						Help your business grow with custom social media network stickers. We offer personalized vinyl stickers for your <strong>Instagram</strong>, <strong>YouTube</strong>, <strong>Facebook</strong>, <strong>Snapchat</strong> and <strong>TikTok</strong> accounts.
                    </p>
                    <p class="text-muted text-center">
                        Stickers are great for use indoor and outdoor: at home, on a store front window, on a car or truck, or your laptop.
                    </p>
				</div>
			</div>

            <section class="pt-5 pb-4">
                <!-- Social stickers -->
                <%- partial('partial/category-posts-list', {categoryName: 'Social'}) %>
            </section>

			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-8 text-center mt-4">
					<a href="/#featured" title="Explore other vinyl stickers we have" class="btn btn-outline-primary btn-blueberry btn-lg">Click to see other stickers we offer</a>
				</div>
			</div>
		</div>
	</div>
</div>