<%- partial('partial/navbar') %>

<div class="container spacer-footer">
	<div class="row">
		<div class="col js-container">
			<div class="row justify-content-center">
				<div class="col col-md-11 col-lg-10">
					<h1 class="display-4 font-handwritten text-center mt-5 mb-4">Overlay Stickers for BMW Emblems</h1>
					<p class="text-body-secondary text-center"><strong>Disclaimer</strong>. Sticker Store LLC is not affiliated in distribution of any emblems (roundels) displayed on the images below. Products listed below are vinyl overlay stickers that are placed on top of the vehicle badge. Please contact the dealership to purchase an original roundel for your vehicle.</p>
				</div>
			</div>

			<section class="pt-5 pb-4">
				<%- partial('partial/category-posts-list', {categoryName: 'Roundel'}) %>
			</section>

			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-8 text-center mt-4">
					<a href="/#featured" title="Explore other vinyl stickers we have" class="btn btn-outline-primary btn-blueberry btn-lg">Click to see other stickers we offer</a>
				</div>
			</div>
		</div>
	</div>
</div>