// COLORS
// Starting Snipcart 3.2.X colors are moved to variables, see snipcart-variables.scss


// FONTS
// Replacing all original Snipcart CSS lines with "font-family" with native font stack
.snipcart {
    font-family: $font-family-base;
    font-size: inherit;
    font-weight: normal;
}

// Tweaking line height which is defined as "1" in the default Snipcart file
.snipcart * {
    line-height: inherit;
}

.snipcart__font--secondary,
.snipcart__font--subtitle,
.snipcart__font--subtitle-small {
    font-family: $font-family-base;
}

.snipcart-modal__close {
    font-family: $font-family-base;
}

.snipcart__actions--link {
    font-family: $font-family-base;
}

.snipcart-base-button__label {
    font-family: $font-family-base;
}

.snipcart-button-link {
    font-family: $font-family-base;
}

.snipcart-cart-summary-expanded-item {
    font-family: $font-family-base;
    font-size: inherit;
}

.snipcart-test-banner__message {
    font-family: $font-family-base;
}

// Override font sizes (copy classes from beautified original Snipcart CSS)
.snipcart__font--small {
    font-size: $font-size-14;
}

.snipcart__font--subtitle-small,
.snipcart__font--tiny {
    font-size: $font-size-16;
}

.snipcart__font--std {
    font-size: $font-size-16;
    line-height: inherit; // Inherit Bootstrap
}

.snipcart__font--large {
    font-size: $font-size-21;
}

.snipcart__box--badge,
.snipcart__font--subtitle,
.snipcart__font--xlarge {
    font-size: $font-size-21;
}

// Override font weights
.snipcart__font--slim {
    // font-weight: lighter;
    font-weight: normal; // Snipcart font is too slim -> setting to normal
}

.snipcart__font--regular {
    font-weight: normal;
}

.snipcart__font--bold {
    font-weight: bold;
    line-height: inherit; // Inherit Bootstrap
}

.snipcart__font--black,
.snipcart__font--subtitle,
.snipcart__font--subtitle-small {
    font-weight: bold;
}

.snipcart__font--subtitle {
    @include font-display;
    font-size: $font-size-21;
}

// BUTTONS
// Define mixin
%snipcart-button {
    border-radius: 2.75rem;
    padding: 0.375rem 0.75rem;
    border-width: 2px;

    .snipcart-base-button__label {
        font-size: $font-size-21;
    }

    .snipcart-base-button__icon,
    .snipcart-base-button__icon .snipcart__icon {
        width: 1.75rem;
        height: 1.75rem;
    }
}

// Apply mixin
.snipcart-base-button {
    @extend %snipcart-button;
}

// ICONS
// Affects navbar icon sizes and +/- up/down icons in the input and dropdown fields
.snipcart__icon {
    width: 1.35rem;
    height: 1.35rem;
}

// Padding around circular +/- icons - was increasing the input field height vs default input fields height
.snipcart-button-icon.is-small {
    padding: 0;
}


// NAVBAR
// Make Cart header look same as the default website navbar
.snipcart-cart-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: var(--box-shadow-blueberry);
    justify-content: space-between;
    height: var(--nb-height);
    background-color: var(--bs-body-bg);

    svg {
        stroke-width: 2px;
        stroke: var(--bs-link-color);
    }

    @include media-breakpoint-up(md) {
        width: 100%;
    }

    // Copy styling from .navbar-blueberry to match its height
    button {
        // margin: 0.825rem 0;

        // @include media-breakpoint-up(md) {
        //     margin: 1rem 0;
        // }

        height: var(--nb-logo-height);
    }

    .snipcart-cart-header__title {
        // Center title in the cart
        margin-left: -8.5rem
    }

    // Always show "Continue Shopping"
    .snipcart-modal__close-title {
        display: inline !important;
        height: auto; // why Snipcart defines height for inline element??
    }

    // Shadow for bottom line
    .snipcart-cart__featured-payment-methods-container {
        border-top-color: var(--bs-border-color);
        border-bottom-color: var(--bs-border-color);
    }

    // Make "Continue Shopping" blue
    .snipcart-cart-header__close-button {
        color: var(--bs-link-color);

        .snipcart__font--std {
            font-size: $font-size-14;
            font-weight: bold;
        }
    }

    // Right most item in the Snipcart navbar
    .snipcart-modal__header-summary {
        // Font for final item velue in header too big, plus fixing icon padding
        .snipcart__font--large {
            font-size: $font-size-16;
        }
        // On last checkout step disable padding for full price in the navbar
        span {
            margin-left: 0;
            padding-left: 0;
        }

        // On last checkout step disable folding right cart icon
        svg:last-child {
            display: none;
        }
    }

    // Right most item in the header
    .snipcart-cart-header__close-button,
    .snipcart-cart-header__options {
        flex: 0 1 auto;
    }

    // Right most item in the header
    .snipcart-cart-header__options {
        cursor: default; // Make unclickable
        pointer-events: none;
    }
}

// Header was vertically shrinked if snipcart-layout's height is 100%
.snipcart-layout {
    height: auto;
}

// FORM FIELDS
.snipcart {
    // Input wrapper with border. Do not remove weird Snipcart input parent container styling.
    .snipcart-input {
        height: auto;
        border-radius: 0.4rem;
    }

    // Actual input inside - mixin
    %input-field {
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;
        box-shadow: var(--ui-shadow);
    }

    // Apply mixin
    .snipcart-form__select,
    .snipcart-input__input {
        height: auto;
        @extend %input-field;

        // Override bold font with regular for inputs
        &.snipcart__font--bold {
            font-weight: normal; // Native font stack
        }
    }

    // Error labels under the fields
    .snipcart-field-error {
        font-size: $font-size-14 !important;
        padding-top: 0.4rem;
    }

    // Remove weird iOS inner shadow for inputs
    .snipcart-input__input {
        background-clip: padding-box;
    }

    // Styling labels
    .snipcart-item-quantity__label,
    .snipcart-form__label.snipcart-custom-field-wrapper__label,
    .snipcart-form__label:not(.snipcart-form__label--checkbox):not(.snipcart-form-radio__label) {
        @extend .my-label;
        margin-top: 0.75rem;

        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }

    // Product Image
    .snipcart-item-line__image {
        width: 100% !important;
        height: auto !important;
        max-height: none !important;
    }

    @media(min-width:1024px) {
        .snipcart-item-line__image {
            width: 100%;
        }
    }

    // Product image container
    .snipcart-item-line__media {
        width: 10.2rem;
        margin-right: 2rem;
        overflow: hidden;
        border-radius: var(--bs-border-radius);
        min-width: none;
    }

    .snipcart-item-line__media--small {
        width: 3rem;
        height: auto;
        margin: 0;
    }
}