.snipcart-scrollbar {
    overflow: visible;
}

// SHOPPING ITEM CONTAINER
.snipcart-item-line {
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    // background-color: var(--bs-secondary-bg);
    &:first-child {
        margin-top: 0;
    }

    @include media-breakpoint-up(md){
        margin-top: 1.5rem;
    }

    // Snipcart breakpoint
    @media (min-width: 768px) {
        padding: 1.5rem;
        margin: 1.5rem 0 0;
    }

    .snipcart-item-custom-fields__field {
        margin-bottom: 0.5rem;
    }

    // Remove excess padding and margin
    .snipcart-item-line__container {
        padding: 0;
        margin: 0;

        // Item title container
        .snipcart-item-line__header {
            margin-bottom: 0.5rem;

            // Set display font for the item heading
            .snipcart-item-line__title {
                @include font-display;
                line-height: 1.1;
                margin: 0 !important;
                flex-grow: 1;
            }

            // Remove weird border on Delere icon (trash bin)
            .snipcart__button--icon {
                border: 0;
            }
        }

        // Hide item description
        .snipcart-item-line__info {
            display: none;
        }

        // Item variations
        .snipcart-item-line__variants {
            padding-top: 0;
        }
    }
}

// QUANTITY FIELD AND LABEL
.snipcart-item-quantity__quantity {
    height: auto;
    @extend %input-field;
}

// PROMO CODE BOX
.snipcart-discount-box {
    background-color: transparent;

    .snipcart-discount-box__button {
        @extend %snipcart-button;
        background-color: $gray-300;
    }

    .snipcart-form {
        background-color: transparent;
        box-shadow: none;
    }

    .snipcart-discount-box__form-container button {
        // color: var(--bs-link-color);
    }

    .snipcart-discount-box__form {
        border: none;
        background-color: transparent;
        padding: 0;

        .snipcart-input__input {
            @extend %input-field;
            margin-right: 1rem;
        }
    }

    .snipcart-discount-box__cancel {
        margin-left: 1rem;
    }
}

.snipcart-input--no-style .snipcart-input__input {
    padding: 0 0.75rem;
}

// CHECKOUT BUTTON
.snipcart-cart__checkout-button {
    svg {
        transform: scale(1.75) translateX(0.5rem);
    }
}

// Make -> arrow sit next to the "Checkout" ->
.snipcart-cart-button__icon {
    flex: 0;
}


.snipcart-featured-payment-methods {
    // Make "Checkout" button visible when scrolling to the bottom with the iPhone keyboard on
    margin-bottom: 7rem;

    // Compact padding for payment icons - stuff under the "Checkout" button
    padding: 0.75rem;

    // For side cart on desktop
    @include media-breakpoint-up(md){
        margin-bottom: 0;
    }

    border-top: 1px solid;
    border-color: var(--bs-border-color);
}

// "Secured by Snipcart" button
.snipcart-featured-payment-methods__title {
    // background-color: var(--bs-body-bg); // label background fix
    font-weight: normal;
    pointer-events: none; // Disable link to Snipcart website
    font-size: $font-size-12;

    a {
        text-decoration: none;
    }
}

.snipcart-featured-payment-methods--no-background {
    margin-top: 0rem;

    .snipcart-featured-payment-methods__title {
        background-color: var(--bs-body-bg);
    }
}

// Payment card icons "VISA" "MASTERCARD" below line
.snipcart-featured-payment-methods__list-item .snipcart__icon {
    width: 2rem;
    height: 2rem;
}

// Cart summary - confusing step. Remove editing cart summary from cart summary.
.snipcart-cart-summary {
    box-shadow: var(--ui-shadow);
    border-radius: 0.5rem;
    overflow: hidden;

    // Dropbows cart details
    .snipcart-cart-summary__content {
        padding: 1.2rem 2rem 2rem 2rem;
    }

    // Set accordingly separator width
    .snipcart-cart-summary__separator {
        width: auto;
        margin-left: -2rem;
        margin-right: -2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .snipcart-cart-summary-fees__total {
        padding-top: 1.5rem;
    }
}

// Slide out cart settings on larger displays
.snipcart-cart__secondary-header {
    //     background-color: $indigo;
    min-height: 5.3rem;
}

.snipcart-layout__content {
    margin-top: 1em;

    @include media-breakpoint-up(md) {
        margin-top: 1.5rem;
    }
}

// CART SLIDING inside right panel on checkout step
.snipcart-item-line--cart-edit {
    border-bottom: 0;
}

.snipcart-cart-summary__overlay {
    backdrop-filter: blur(0.3rem);
}

.snipcart-cart-summary--edit {
    .snipcart-layout__content {
        margin-top: 0;
    }

    .snipcart-cart__secondary-header {
        // border-bottom: 1px solid var(--bs-border-color);

        @media(min-width:1024px) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        h1 {
            @include font-display;
        }

        .snipcart__icon {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    .snipcart-cart__footer {
        @include media-breakpoint-up(md) {
            padding: 1.5rem;
        }
    }
}

// Padding of each step box
.snipcart-checkout-step {
    margin-top: 0em;
}

// Styling the Checkout steps 1,2,3
.snipcart-form {
    // Remove background from form containers
    // background-color: transparent;
    box-shadow: none;
}

.snipcart__box {
    // background-color: var(--bs-body-bg); // Payment box (3) lacking white background
    border-radius: 0.5rem;
    padding: 1.2rem 1rem;
    margin-bottom: 1rem;
    box-shadow: var(--ui-shadow);

    @include media-breakpoint-up(md) {
        margin-bottom: 1.5rem;
    }

    // Space between form fields - only bottom 0.5 rem just like on cart screen
    .snipcart-form__field {
        padding: 0;
        margin-bottom: 0.5rem;
    }

    // Display title next to the badge
    .snipcart__box--title {
        display: flex;
        align-items: center;

        .snipcart__box--badge {
            @include font-display;
            font-size: $font-size-21;
            margin: 0 0.75rem 0 0;
            border: 0;
            color: var(--bs-white);

            &.snipcart__box--badge-highlight {
                background: $blue;
            }
        }
    }

    // Address dropdown
    .snipcart-typeahead__suggestion {
        span {
            font-weight: 400; // Native font stack
        }

        &:last-child {
            display: none;
        }
    }

    // Align "I don't see my adress"
    .snipcart-form__row {
        align-items: flex-start;

        .snipcart-form__cell--input-aligned {
            margin-top: 2.25rem;
            margin-bottom: 0;
        }
    }
}

.snipcart__box--header {
    min-height: 40px;
}

// Checkboxes - make labels not span full width
.snipcart-checkbox+label {
    display: inline;
}

// Minimum height fix for address textbox
.snipcart-form__address-autocomplete>.snipcart-textbox {
    min-height: 2.643rem;
}

// Weird "Typeahead field around address textbox"
.snipcart-typeahead {
    background: transparent;
}

// Shipping to icon layout

.snipcart__font--bold.snipcart__notice--with-icon {
    // font-family: $font-regular;
    font-weight: 400; // Native font stack
}

// Billing completed step icon
.snipcart-checkout-step__icon {
    width: auto;
    margin-right: 0.95rem;
    margin-left: 0.3rem;

    .snipcart__icon {
        width: 2rem;
        height: 2rem;
    }
}

// .snipcart__notice--with-icon {
//     svg {
//         @extend .snip-checkout-icon;
//     }
// }

// 2. Shipping selection

.snipcart-checkout-step {
    padding-bottom: 0;
}

.snipcart-shipping-rates-list {
    margin-bottom: 1.4rem;
}

.snipcart-shipping-rates-list-item {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 0;

    &.snipcart-shipping-rates-list-item--highlight {
        border: none;
        // background-color: var(--bs-body-bg);
    }
}

.snipcart__font--bold .snipcart-form-radio+label {
    // font-family: $font-regular;
    font-weight: 400; // Native font stack
}

.snipcart-form-radio+label:before {
    margin-right: 1.3em;
}

.snipcart-form-radio:checked+label:before {
    background: $blue;
}

// Fix checkbox
.snipcart-form-radio:checked+label:after {
    margin-top: -12px;
    top: 50%;
}

.snipcart-checkout-step__col {
    // align-items: flex-start;
}

// 3. Payment

.snipcart-payment__header {
    margin-bottom: 0;
}

// Checkout with PayPal

.snipcart-payment-methods-list-item {
    margin-top: 1.5rem
}

// This is for the test environment, fix iframe height...
.snipcart-payment-card-form snipcart-payment-card-form--loaded {
    iframe {
        height: auto;
    }
}

// Checkout with PayPal button - no styling whatsoever
.snipcart-payment-methods-list-item__button {
    @extend %snipcart-button;
    background-color: $blue;
    border-color: $blue;
    height: auto;
    box-shadow: var(--ui-shadow);
    justify-content: center;
    font-size: $font-size-21;
    font-weight: normal;
    color: white;

    &:hover {
        background-color: var(--bs-blue);
        border-color: var(--bs-blue);
    }

    .snipcart-payment-methods-list-item__label, .new-label {
        font-weight: normal;
        flex-grow: 1;
        text-align: center;
        display: inline;
    }

    .snipcart-payment-methods-list-item__arrow {
        margin-left: 0.5rem;
        color: white;
    }

    .snipcart__icon {
        width: 1.75rem;
        height: 1.75rem;
    }
}