<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <table>
        <tr>
            <td><input type="hidden" name="on0" value="Color">Color</td>
        </tr>
        <tr>
            <td>
                <select name="os0">
                    <option value="Glossy White">Glossy White $9.99 USD</option>
                    <option value="Oil Slick">Oil Slick $10.99 USD</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHwQYJKoZIhvcNAQcEoIIHsjCCB64CAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCI1vODWUfcSwaOAmmg3ZtL/aZmNgirOv/unlL70pQrss7WsjzAj6XkfwKyOSNnMlB971ZbUR2o9sXEJD4gXLycKsvfpfVddWT/T6DyGfjBBe9pP+Qv8Loqo7WjQP0GIRJ7TO04zTG3OkcplPMYgPq8Uuog+N9cAXA/ELnl8GzXmDELMAkGBSsOAwIaBQAwggE9BgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECIIU2qFau7SggIIBGJwbOzAflEE42lh9x5tgvlumh4hiHLZ5vxHcbc/PzKr4v8IkraQdFbT7I+tVYDS18twIG5lWaHhAsmvdeLlUVKFf1Ade3HEJrlSp5y47RdsVkKZuqUOJCMItDDJEVtEPy9FHdDZG3VhD7MAmYc1r6mpY/QNYsV0u8tO2iZNJDQHTMzJor+IIAXlDM8YfK6V9PONNnRqgWj1SgxhLWwye0wURBx+AkykmPgBcmcQU452mDf8BS6EbmzM2XFe6hyXTuh3cU6MCw0rxYq+aDxNNVxjsWajvpP2uKgQuWEOqfojm33z9jhaEsAb7glDu3QebuTun6CYUL8iP1FjFQN7B5f2iHlDN18NrQIES2DNKh7waqys7GCMOvCygggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0yMDAyMDgyMjMyMTFaMCMGCSqGSIb3DQEJBDEWBBScvcdwwi8qEUF6xUUxumqI3hXdUDANBgkqhkiG9w0BAQEFAASBgHs1OISAZYbCIyAH+/s5pYSzoX73ZYzmSu2OrQGNb2ouupmEC4X6RXtZp6zfxOf0Y4x6q6gyLsKDBjV5a6ScdEvU4cgaMIqJhYjwRVLHS233GdCH//mztnxIqrTS/A9zjDd3WmWo2eqXlIfSkScAodDvKtFPm4u6b9V9YoJz5nK9-----END PKCS7-----">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>