#truck-van-preview {
    overflow: hidden;

    #truck-van-preview-bg {
        animation: spinme 4s;
        animation-iteration-count: infinite;
        background-color: #f2f3f7;
        border: 1.5rem solid #f2f3f7;
        border-radius: 1rem;
        position: relative;

        @include media-breakpoint-up(sm) {
            border-width: 2rem;
        }

        @include media-breakpoint-up(md) {
            border-width: 3rem;
        }

        @include media-breakpoint-up(lg) {
            border-width: 3.50rem;
        }

        &:after{
            content: "";
            outline: 1px grey dotted;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

@keyframes spinme {
    0% {
        transform: perspective(28rem) rotateY(0deg);
    }
    2% {
        transform: perspective(28rem) rotateY(5deg);
    }
    4% {
        transform: perspective(28rem) rotateY(-5deg);
    }
    8% {
        transform: perspective(28rem) rotateY(5deg);
    }
    16% {
        transform: perspective(28rem) rotateY(-5deg);
    }
    32% {
        transform: perspective(28rem) rotateY(0deg);
    }
  }


#truck-van-preview-heading, #truck-van-preview-content {
    mix-blend-mode: multiply;
    position: relative;
}

#truck-van-preview-heading {
    margin-top: -1.2rem;

    &:after{
        content: "";
        background-color: red;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        mix-blend-mode: lighten;
    }
}

#truck-van-preview-content {
    width: 90%;

    &:after{
        content: "";
        background-color: black;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        mix-blend-mode: lighten;
    }
}

.ruler-x {
    position: absolute;
    left: 0;
    right: 0;
    top: 125%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;

    @include media-breakpoint-up(sm) {
        top: 132%;
    }
    @include media-breakpoint-up(md) {
        top: 142%;
    }
    @include media-breakpoint-up(lg) {
        top: 148%;
    }

    .val {
        background-color: white;
        position: relative;
        font-weight: bold;
        color: $text-muted;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.8em;
    }

    &:before{
        content: "";
        background-color: lighten($text-muted,40%);
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        height: 2px;
    }
}

.ruler-y {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 102%;
    width: 4rem;
    text-align: center;

    @include media-breakpoint-up(sm) {
        left: 108%;
    }
    @include media-breakpoint-up(md) {
        left: 111%;
    }
    @include media-breakpoint-up(lg) {
        left: 114%;
    }

    .val {
        background-color: white;
        position: relative;
        top: 50%;
        display: block;
        white-space: nowrap;
        font-weight: bold;
        color: $text-muted;
        font-size: 0.8em;

        @include media-breakpoint-down(sm) {
            transform: rotate(-90deg);
            margin-top: -0.5rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        @include media-breakpoint-up(md) {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-top: -0.9rem;
        }

    }

    &:before{
        content: "";
        background-color: lighten($text-muted,40%);
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 2px;
    }
}

.match-input-height {
    height: $input-height;
    line-height: $input-height;
}