$pill-color-width: 2.4rem;
$pill-color-height: 1.85rem;
$pill-color-padding-y: 0.5rem;
$pill-color-shift: 1rem;
$display-delay: 0.3s;

.select-color {
    color: $body-color;
    box-shadow: 0 2px 4px 0 rgba($blue, 0.2);
    @include border-radius($input-border-radius, 0);
    border: 1px solid #dceaf9;
    background-color: white;

    /* Fixing safari zom-in isssue */
    font-size: 16px !important;

    // display: flex;
    // justify-content: flex-start;
    // flex-wrap: wrap;
}


.select-color {
    position : relative;

    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: 1.4rem;
        top: 1.3rem;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid black;
        opacity: 1;
        transition: all $display-delay;
    }
}

.select-color.is-Open {
    &:after {
        opacity: 0;
    }
}

.is-Closed .select-color-pill {
    transition: max-height $display-delay, opacity $display-delay;
    transition-delay: 0s, $display-delay;

    &::before {
        border-bottom-width: 0px;
    }
}

.is-Open .select-color-pill {
    transition: opacity $display-delay, max-height $display-delay;
    transition-delay: 0s, $display-delay;
}

.select-color-pill {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    cursor: default;

    max-height: 3rem;
    opacity: 1;

    &.pill-hidden {
        max-height: 0;
        opacity: 0;
    }

    position: relative;

    &::before {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;

        border-bottom: 1px dashed lightgray;
    }

    &:last-child {
        &::before {
            border-bottom-width: 0px;
        }
    }

    .select-color-pill-color {
        flex-shrink: 0;
        margin-left: -$pill-color-shift;
        width: $pill-color-width;
        height: $pill-color-height;
        border-radius: $pill-color-height*0.5;
        display: inline-block;
        border: 2px solid white;
        vertical-align: middle;
        margin-top: $pill-color-padding-y;
        margin-bottom: $pill-color-padding-y;

        &:first-child {
            margin-left: $input-padding-x;
        }
        // TODO: add realistic ORACAL HEX colors

        &.black {
            background-color: black;
        }
        &.white {
            background-color: whitesmoke;
            box-shadow: inset 0 0 0 2px lightgray
        }
        &.matte-black {
            background-color: rgb(34, 34, 34);
        }
        &.red {
            background-color: crimson;
        }
        &.burgundy {
            background-color: DarkRed;
        }
        &.orange {
            background-color: OrangeRed;
        }
        &.yellow {
            background-color: Gold;
        }
        &.brimstone-yellow {
            background-color: Yellow;
            box-shadow: inset 0 0 0 2px lightgray;
        }
        &.mint {
            background-color: MediumSpringGreen;
        }
        &.green {
            background-color: ForestGreen;
        }
        &.blue {
            background-color: DeepSkyBlue;
        }
        &.brilliant-blue {
            background-color: MediumBlue;
        }
        &.silver {
            background: radial-gradient(ellipse farthest-corner at left top, #dcdcdc 10%, #a8a8a8 50%, #E7EBEE 90%);
        }

        &.gold {
            background: radial-gradient(ellipse farthest-corner at left top, #FFF3C5 10%, #DFBE60 50%, #ffc975 90%);
        }

        &.holographic {
            background: linear-gradient(135deg, rgb(65, 127, 208) 10%, rgb(172, 80, 200) 50%, rgb(255, 222, 112) 90%);
        }

        &.rainbow {
            background: linear-gradient(135deg, rgb(255, 255, 255) 10%, rgb(255, 235, 157) 30%, rgb(174, 190, 255) 50%, rgb(177, 253, 171) 70%, rgb(255, 186, 186) 90%);
        }
    }

    .select-color-pill-text {
        flex-grow: 1;
        margin-left: 0.5rem;
    }

    .select-color-pill-extra {
        margin-right: 1rem;
        color: lighten($body-color,50);
    }
}

.checkbox {
    color: $primary;
    opacity: 0;
    transition: opacity 250ms;
    font-size: 1.7rem;
    margin-right: $input-padding-x;
}

.is-Open .selected .checkbox {
    opacity: 1;
}