.widget-jumbotron-frontpage {
  background-size: cover;
  background-image: url(/img/new-background-bmw-windshield-banner-sun-strip.jpg);
  background-position: center center;
  background-blend-mode: overlay;

  @include media-breakpoint-up(md) {
    background-position: 137vw center;
    // background-position: -130rem center;
  }

  @include media-breakpoint-up(lg) {
    background-position: 122vw center;
  }

  @include media-breakpoint-up(xl) {
    background-position: 118vw center;
  }

  h1 {
    font-family: $font-handwritten;
    @include media-breakpoint-up(xl) {
      // color: var(--bs-body-color);
    }
  }
}