.widget-jumbotron-truck-van {
    /* prevent x scrollbar for truck van */
    overflow-x: hidden;
    background-image: url('/custom-truck-van-decals/jumbotron-background.jpg');

    .img-truck-van {
        width: 300%;
        height: auto;
        margin-left: -150%;

        animation: swingme 8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        @include media-breakpoint-up(sm) {
            width: 200%;
            margin-left: -83%;
        }

        @include media-breakpoint-up(md) {
            width: 150%;
            margin-left: -26%;
            animation: none;
        }

        @include media-breakpoint-up(lg) {
            width: 125%;
            margin-left: -14%;
        }

        @include media-breakpoint-up(xl) {
            width: 89%;
            margin-left: 5%;
        }
    }
}

@keyframes swingme {
    0%, 40%, 100% {
      transform: translateX(0%);
    }
    50%, 90% {
        transform: translateX(30%);
    }
}
