.component-truck-van-preview {
  overflow: hidden;
}
.component-truck-van-preview #inputBgColorContainer {
  position: relative;
}
.component-truck-van-preview #inputBgColorContainer #inputBgColor {
  position: relative;
}
.component-truck-van-preview #inputBgColorContainer #inputBgColorLine {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  height: 5rem;
  margin-left: -2px;
  width: 4px;
  background-color: var(--bs-border-color);
}
.component-truck-van-preview #truck-van-preview-bg {
  animation: spinme 4s;
  animation-iteration-count: infinite;
  background-color: #dfdfdf;
  border: 1.5rem solid #dfdfdf;
  border-radius: 1rem;
  position: relative;
}
@media (min-width: 576px) {
  .component-truck-van-preview #truck-van-preview-bg {
    border-width: 2rem;
  }
}
@media (min-width: 768px) {
  .component-truck-van-preview #truck-van-preview-bg {
    border-width: 3rem;
  }
}
@media (min-width: 992px) {
  .component-truck-van-preview #truck-van-preview-bg {
    border-width: 3.5rem;
  }
}
.component-truck-van-preview #truck-van-preview-bg:after {
  content: "";
  outline: 1px grey dotted;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes spinme {
  0% {
    transform: perspective(28rem) rotateY(0deg);
  }
  2% {
    transform: perspective(28rem) rotateY(5deg);
  }
  4% {
    transform: perspective(28rem) rotateY(-5deg);
  }
  8% {
    transform: perspective(28rem) rotateY(5deg);
  }
  16% {
    transform: perspective(28rem) rotateY(-5deg);
  }
  32% {
    transform: perspective(28rem) rotateY(0deg);
  }
}
#truck-van-preview-heading, #truck-van-preview-content {
  position: relative;
}

#truck-van-preview-heading {
  margin-top: -0.25rem;
}

#truck-van-preview-content {
  width: 85%;
}

.ruler-x {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
}
@media (min-width: 576px) {
  .ruler-x {
    bottom: -4.4rem;
  }
}
@media (min-width: 768px) {
  .ruler-x {
    bottom: -5.5rem;
  }
}
@media (min-width: 992px) {
  .ruler-x {
    bottom: -6.4rem;
  }
}
.ruler-x .val {
  background-color: var(--bs-body-bg);
  position: relative;
  font-weight: bold;
  color: var(--bs-tertiary-color);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.8em;
}
.ruler-x:before {
  content: "";
  background-color: var(--bs-tertiary-color);
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 2px;
}

.ruler-y {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -4.5rem;
  width: 4rem;
  text-align: center;
}
@media (min-width: 576px) {
  .ruler-y {
    right: -6rem;
  }
}
@media (min-width: 768px) {
  .ruler-y {
    right: -8rem;
  }
}
@media (min-width: 992px) {
  .ruler-y {
    right: -9rem;
  }
}
.ruler-y .val {
  background-color: var(--bs-body-bg);
  position: relative;
  top: 50%;
  display: block;
  white-space: nowrap;
  font-weight: bold;
  color: var(--bs-tertiary-color);
  font-size: 0.8em;
}
@media (max-width: 575.98px) {
  .ruler-y .val {
    transform: rotate(-90deg);
    margin-top: -0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 768px) {
  .ruler-y .val {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: -0.9rem;
  }
}
.ruler-y:before {
  content: "";
  background-color: var(--bs-tertiary-color);
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
}

.match-input-height {
  height: calc(1.5em + 0.75rem + calc(var(--bs-border-width) * 2));
  line-height: calc(1.5em + 0.75rem + calc(var(--bs-border-width) * 2));
}
/*# sourceMappingURL=component-truck-van-preview.css.map */
