<!DOCTYPE html>
<html>

<head>
    <title>Templates</title>
</head>

<body>
    <div id="snipcart-templates">
        <order>
            <!-- Default component HTML copied from: https://docs.snipcart.com/v3/themes/default/reference#component-order  -->
            <layout class="snipcart-layout--large snipcart-cart__order-container">
                <overridable name="order" section="header">
                    <cart-header class="snipcart-checkout__header" :show-items-count="false" :show-summary="false"
                        :show-account-menu="false">
                    </cart-header>
                </overridable>

                <overridable name="order" section="content">
                    <loading-screen message="order.loading" class="snipcart-layout__content">
                        <div v-if="cart">
                            <div class="snipcart-order__details">
                                <overridable name="order" section="content-header">
                                    <div class="snipcart__box snipcart-order__box snipcart-order__box__header">
                                        <div class="snipcart__box--title">
                                            <div
                                                class="snipcart__box--badge snipcart__box--badge snipcart__box--badge-highlight snipcart__font--bold snipcart__font--secondary">
                                                <icon name="checkmark" class="snipcart__icon"></icon>
                                            </div>
                                            <div>
                                                <h1 class="snipcart__font--subtitle">{{
                                                    $localize('confirmation.thank_you_for_your_order') }}</h1>
                                            </div>
                                        </div>
                                        <div v-if="isConfirmationAsync"
                                            class="snipcart-order__async-confirmation-notice">
                                            <flash-message type="success">
                                                {{ $localize('confirmation.async_confirmation_notice') }}
                                            </flash-message>
                                        </div>
                                        <div v-else class="snipcart-order__invoice-number">
                                            {{ $localize('cart.invoice_number') }} : <em
                                                class="snipcart-order__invoice-number--highlight snipcart__font--black snipcart__font--secondary">{{
                                                cart.invoiceNumber }}</em>
                                        </div>
                                    </div>
                                </overridable>

                                <overridable name="order" section="content-main">
                                    <div class="snipcart-order__details__content">
                                        <div class="snipcart__box snipcart-order__box">
                                            <div class="snipcart-order__details-title snipcart__box--subtitle">
                                                <icon name="cart"
                                                    class="snipcart__icon--left snipcart__icon--blue-dark"></icon>
                                                <h1 class="snipcart__font--subtitle">{{
                                                    $localize('header.title_cart_summary') }}</h1>
                                            </div>

                                            <cart-summary-items-list
                                                item-template="cart-summary-expanded-item"></cart-summary-items-list>
                                        </div>

                                        <billing-completed context="invoice"
                                            class="snipcart-billing-completed--titled snipcart-order__box"></billing-completed>
                                        <shipping-completed context="invoice"
                                            class="snipcart-shipping-completed--titled snipcart-order__box"
                                            v-if="cart.shippingDetails.method"></shipping-completed>
                                        <order-payment-details v-if="showPayment"></order-payment-details>
                                        <footer class="snipcart__box snipcart-order__box snipcart-order__footer">
                                            <summary-fees class="snipcart-order__fees"
                                                :summary-data="summaryFeesProvider"></summary-fees>
                                        </footer>
                                    </div>
                                </overridable>
                            </div>
                            <!-- Test Vue Variables Here -->
                            <p>cart.invoice_number</p>
                            <p>{{ cart.invoice_number }}</p>
                            <p>cart.email</p>
                            <p>{{ cart.email }}</p>
                            <p>cart.shippingAddress.country</p>
                            <p>{{ cart.shippingAddress.country }}</p>
                        </div>
                    </loading-screen>
                </overridable>
            </layout>
        </order>
    </div>
</body>

</html>