@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.component-jumbotron-frontpage {
  background-size: cover;
  background-image: image-set(
    url("/img/new-background-bmw-windshield-banner-sun-strip.avif") type("image/avif"),
    url("/img/new-background-bmw-windshield-banner-sun-strip.jpg") type("image/jpeg")
  );
  background-position: center center;
  background-blend-mode: overlay;

  @include media-breakpoint-up(md) {
    background-position: 137vw center;
  }

  @include media-breakpoint-up(lg) {
    background-position: 122vw center;
  }

  @include media-breakpoint-up(xl) {
    background-position: 118vw center;
  }

  h1 {
    font-family: var(--font-handwritten);
    @include media-breakpoint-up(xl) {
    }
  }
}