@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../sass/bootstrap/variables-default";
@import "../../node_modules/bootstrap/scss/mixins";

.component-select-reflect {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .select-reflect-item {
        animation: background-color 200ms;
        background: var(--bs-secondary-bg);
        border-radius: 0.5rem;
        text-align: center;
        flex-grow: 2;
        padding: 1rem 0.25rem;

        span {
            font-weight: bold;
            display: block;
        }

        &.selected {
              color: $gray-900;
              background-color: var(--bs-primary);
        }
    }
}