<div id="snipcart" class="snipcart">
    <div class="snipcart-modal__container snipcart-layout--large">
        <div class="snipcart-layout snipcart-modal"><!---->
            <header class="snipcart-cart-header snipcart-checkout__header snipcart-layout__header--fixed"><button
                    class="snipcart-cart-header__close-button snipcart-modal__close"><svg viewBox="0 0 64 64"
                        fill="none" xmlns="http://www.w3.org/2000/svg" alt="" title=""
                        class="snipcart-modal__close-icon snipcart__icon">
                        <path
                            d="M12.636 30.158H58v3.423H12.372l9.148 9.055L19.132 45 6 32l13.132-13 2.388 2.364-8.884 8.794z"
                            fill="currentColor"></path>
                    </svg><span class="snipcart-modal__close-title snipcart__font--std"> Continue shopping
                    </span></button><!---->
                <div class="snipcart-cart-header__options"><!----><!----><!----><!----><!----></div>
            </header>
            <div>
                <div class="snipcart-checkout__content snipcart-layout__content">
                    <div class="snipcart-layout__cols">
                        <div class="snipcart-layout__col snipcart-layout__col--large">
                            <div id="snipcart-checkout-step-billing" class="snipcart-checkout-step">
                                <div class="snipcart__box snipcart-billing-completed snipcart__box--gray">
                                    <div class="snipcart-billing-completed__header snipcart__box--header">
                                        <div class="snipcart__box--title">
                                            <div
                                                class="snipcart__box--badge snipcart__font--bold snipcart__font--secondary">
                                                <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon snipcart__icon">
                                                    <path d="M3 11.5L8.5 16 18 3.5" stroke="currentColor"
                                                        stroke-width="2"></path>
                                                </svg></div>
                                            <h1 class="snipcart-billing-completed__title snipcart__font--subtitle">
                                                <!----> Billing </h1>
                                        </div><button type="button" class="snipcart-button-link">Edit</button>
                                    </div>
                                    <div class="snipcart-checkout-step__cols snipcart__font--std">
                                        <div class="snipcart-checkout-step__col">
                                            <div
                                                class="snipcart-checkout-step__icon snipcart-billing-completed__step-icon">
                                                <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M19.609 57c-2.131 0-4.107-.888-5.562-2.499-1.543-1.707-2.268-4.023-1.988-6.342l.856-7.167c.487-4.11 2.666-7.791 5.985-10.095l1.753 2.454c-2.609 1.812-4.329 4.725-4.715 7.989l-.859 7.17a5.074 5.074 0 001.242 3.999c.868.96 2.037 1.491 3.288 1.491H45.39c1.251 0 2.42-.531 3.288-1.491a5.074 5.074 0 001.242-3.999l-.855-7.167c-.39-3.267-2.107-6.177-4.72-7.992l1.754-2.454c3.319 2.307 5.501 5.988 5.989 10.098l.852 7.164c.28 2.319-.445 4.635-1.988 6.342C49.501 56.112 47.523 57 45.391 57H19.61zM18.8 19.5C18.8 12.057 24.947 6 32.5 6c7.554 0 13.7 6.057 13.7 13.5S40.053 33 32.5 33c-7.552 0-13.699-6.057-13.699-13.5zm3.045 0c0 5.79 4.78 10.5 10.655 10.5 5.875 0 10.655-4.71 10.655-10.5S38.376 9 32.5 9c-5.876 0-10.655 4.71-10.655 10.5z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                            <div>
                                                <h3
                                                    class="snipcart-billing-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                    Customer information</h3><span
                                                    class="snipcart-billing-completed__information snipcart__font--std">Heather
                                                    Kish<br>info@stickerstore.llc</span>
                                            </div>
                                        </div>
                                        <div class="snipcart-checkout-step__col">
                                            <div
                                                class="snipcart-checkout-step__icon snipcart-billing-completed__step-icon">
                                                <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M15 24.573C15 14.868 22.835 7 32.5 7S50 14.868 50 24.573C50 40.687 32.5 56 32.5 56S15 40.687 15 24.573zm31.95 0c0-8.003-6.484-14.51-14.45-14.51-7.966 0-14.45 6.507-14.45 14.51 0 11.438 10.061 22.79 14.447 27.2 4.386-4.415 14.453-15.796 14.453-27.2zm-20.55.802c0-3.381 2.733-6.125 6.1-6.125 3.367 0 6.1 2.744 6.1 6.125S35.867 31.5 32.5 31.5c-3.367 0-6.1-2.744-6.1-6.125zm9.15 0a3.057 3.057 0 00-3.05-3.063 3.057 3.057 0 00-3.05 3.063 3.057 3.057 0 003.05 3.063 3.057 3.057 0 003.05-3.063z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                            <div>
                                                <h3
                                                    class="snipcart-billing-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                    Billing address</h3><span
                                                    class="snipcart-billing-completed__information snipcart__font--std">2270
                                                    Northwest Savier Street, 114, Portland, OR, US, 97210</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="snipcart-checkout-step-shipping" class="snipcart-checkout-step">
                                <div class="snipcart__box snipcart-shipping-completed snipcart__box--gray">
                                    <div class="snipcart-shipping-completed__header snipcart__box--header">
                                        <div class="snipcart__box--title">
                                            <div
                                                class="snipcart__box--badge snipcart__font--bold snipcart__font--secondary">
                                                <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon snipcart__icon">
                                                    <path d="M3 11.5L8.5 16 18 3.5" stroke="currentColor"
                                                        stroke-width="2"></path>
                                                </svg></div>
                                            <h1 class="snipcart-shipping-completed__title snipcart__font--subtitle">
                                                <!----> Shipping </h1>
                                        </div><button type="button" class="snipcart-button-link">Edit</button>
                                    </div>
                                    <div class="snipcart-checkout-step__cols snipcart__font--std">
                                        <div class="snipcart-checkout-step__col">
                                            <div
                                                class="snipcart-checkout-step__icon snipcart-shipping-completed__step-icon">
                                                <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M15 24.573C15 14.868 22.835 7 32.5 7S50 14.868 50 24.573C50 40.687 32.5 56 32.5 56S15 40.687 15 24.573zm31.95 0c0-8.003-6.484-14.51-14.45-14.51-7.966 0-14.45 6.507-14.45 14.51 0 11.438 10.061 22.79 14.447 27.2 4.386-4.415 14.453-15.796 14.453-27.2zm-20.55.802c0-3.381 2.733-6.125 6.1-6.125 3.367 0 6.1 2.744 6.1 6.125S35.867 31.5 32.5 31.5c-3.367 0-6.1-2.744-6.1-6.125zm9.15 0a3.057 3.057 0 00-3.05-3.063 3.057 3.057 0 00-3.05 3.063 3.057 3.057 0 003.05 3.063 3.057 3.057 0 003.05-3.063z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                            <div class="snipcart__address__display">
                                                <h3
                                                    class="snipcart-checkout-step__title snipcart-shipping-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                    Shipping address</h3><span
                                                    class="snipcart-shipping-completed__information snipcart__font--std">2270
                                                    Northwest Savier Street, 114, Portland, OR, US, 97210</span>
                                            </div>
                                        </div>
                                        <div class="snipcart-checkout-step__col">
                                            <div
                                                class="snipcart-checkout-step__icon snipcart-shipping-completed__step-icon">
                                                <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M32 9L6.929 18.635v26.153L31.999 55.8l25.072-11.012V18.635L32 9zm-7.65 5.891L32 11.954l21.36 8.21-8.437 3.473-20.573-8.746zm-13.71 5.272l10.011-3.849 20.69 8.799L32 28.959l-21.36-8.796zm33.533 16.493l1.106-.017V26.63l9.006-3.71V43l-20.892 9.173V31.53l9.1-3.752v9.905l1.68-1.027zM9.714 43V22.92l20.893 8.61v20.645L9.714 43.001z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                            <div>
                                                <h3
                                                    class="snipcart-checkout-step__title snipcart-shipping-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                    Shipping method</h3><span
                                                    class="snipcart-shipping-completed__information">USPS First-Class
                                                    Mail • no Tracking • 3–5 Business Days</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="snipcart-checkout-step-payment" class="snipcart-checkout-step">
                                <form class="snipcart-form snipcart-payment snipcart__box">
                                    <div class="snipcart__box--header">
                                        <div class="snipcart__box--title">
                                            <div
                                                class="snipcart__box--badge snipcart__box--badge snipcart__box--badge-highlight snipcart__font--bold snipcart__font--secondary">
                                                3</div>
                                            <h1 class="snipcart-payment__header snipcart__font--subtitle">Payment</h1>
                                        </div>
                                    </div><!---->
                                    <div class="snipcart-loading-overlay snipcart-payment__loading"><!---->
                                        <div class="snipcart-loading-overlay__content"><!----><!----><!---->
                                            <div
                                                class="snipcart-loading-overlay snipcart-payment-methods-list__container">
                                                <!---->
                                                <div class="snipcart-loading-overlay__content">
                                                    <ul
                                                        class="snipcart-payment-methods-list snipcart__font--secondary snipcart__font--bold">
                                                        <li class="snipcart-payment-methods-list-item"><button
                                                                type="button" title="Checkout with PayPal"
                                                                class="snipcart-payment-methods-list-item__button"><span
                                                                    class="snipcart-payment-methods-list-item__label">
                                                                    Checkout with <svg viewBox="0 0 350 161" fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg" alt="PayPal"
                                                                        title="PayPal"
                                                                        class="snipcart-payment-methods-list-item__icon snipcart__icon">
                                                                        <path
                                                                            d="M78.676 47.805c-3.476-3.963-9.76-5.662-17.8-5.662H37.544a3.342 3.342 0 00-3.302 2.819l-9.71 61.619a2 2 0 001.14 2.13c.263.121.549.184.838.183h14.405l3.617-22.946-.112.719a3.332 3.332 0 013.288-2.818h6.845c13.447 0 23.976-5.462 27.051-21.262.092-.467.17-.922.24-1.367.913-5.84-.007-9.814-3.166-13.413"
                                                                            fill="#003087"></path>
                                                                        <path
                                                                            d="M255.017 77.126c-.88 5.782-5.296 5.782-9.565 5.782h-2.43l1.705-10.795a1.341 1.341 0 011.325-1.132h1.115c2.907 0 5.653 0 7.069 1.655.846.99 1.101 2.461.781 4.49zm-1.859-15.085h-16.107a2.243 2.243 0 00-2.214 1.89l-6.508 41.3a1.345 1.345 0 001.325 1.551h8.265c.771 0 1.427-.56 1.547-1.321l1.849-11.712a2.238 2.238 0 012.209-1.89h5.097c10.612 0 16.734-5.132 18.333-15.31.721-4.449.029-7.946-2.054-10.394-2.29-2.692-6.35-4.116-11.739-4.116"
                                                                            fill="#009CDE"></path>
                                                                        <path
                                                                            d="M140.131 77.126c-.88 5.782-5.295 5.782-9.567 5.782h-2.43l1.705-10.795a1.342 1.342 0 011.325-1.132h1.115c2.908 0 5.653 0 7.069 1.655.848.99 1.103 2.461.783 4.49zm-1.858-15.085h-16.108a2.24 2.24 0 00-2.211 1.89l-6.511 41.3a1.342 1.342 0 001.325 1.551h7.692a2.238 2.238 0 002.21-1.89l1.759-11.141a2.237 2.237 0 012.21-1.89h5.096c10.612 0 16.734-5.134 18.333-15.312.721-4.449.03-7.946-2.053-10.394-2.291-2.692-6.351-4.116-11.74-4.116l-.002.002zm37.396 29.913c-.748 4.407-4.243 7.367-8.706 7.367-2.237 0-4.029-.721-5.179-2.084-1.143-1.35-1.57-3.274-1.209-5.416.693-4.37 4.249-7.422 8.643-7.422 2.191 0 3.967.727 5.142 2.102 1.182 1.385 1.647 3.32 1.309 5.453zm10.749-15.015h-7.713a1.345 1.345 0 00-1.329 1.136l-.337 2.156-.54-.78c-1.669-2.424-5.393-3.236-9.11-3.236-8.521 0-15.8 6.458-17.217 15.513-.737 4.521.31 8.839 2.873 11.852 2.353 2.768 5.711 3.921 9.713 3.921 6.869 0 10.678-4.411 10.678-4.411l-.345 2.143a1.353 1.353 0 00.765 1.429c.177.081.368.123.562.122h6.945a2.239 2.239 0 002.212-1.89l4.17-26.401a1.344 1.344 0 00-1.329-1.552"
                                                                            fill="#003087"></path>
                                                                        <path
                                                                            d="M290.554 91.954c-.747 4.407-4.242 7.367-8.705 7.367-2.237 0-4.029-.721-5.18-2.084-1.142-1.35-1.57-3.274-1.208-5.416.693-4.37 4.247-7.422 8.643-7.422 2.191 0 3.967.727 5.142 2.102 1.182 1.385 1.647 3.32 1.308 5.453zm10.75-15.015h-7.713a1.345 1.345 0 00-1.329 1.136l-.337 2.156-.54-.78c-1.67-2.424-5.393-3.236-9.111-3.236-8.518 0-15.797 6.458-17.216 15.513-.737 4.521.312 8.839 2.874 11.852 2.353 2.768 5.712 3.921 9.713 3.921 6.872 0 10.681-4.411 10.681-4.411l-.345 2.143a1.335 1.335 0 001.323 1.551h6.943a2.242 2.242 0 002.214-1.89l4.17-26.401a1.344 1.344 0 00-1.329-1.552"
                                                                            fill="#009CDE"></path>
                                                                        <path
                                                                            d="M227.498 76.941h-7.754a2.23 2.23 0 00-1.849.983L207.2 93.674l-4.534-15.136a2.237 2.237 0 00-2.145-1.599h-7.619a1.346 1.346 0 00-1.329 1.149c-.031.211-.011.427.058.63l8.535 25.057-8.029 11.329a1.341 1.341 0 001.097 2.118h7.746c.731 0 1.419-.359 1.838-.961l25.781-37.212a1.346 1.346 0 00.088-1.387 1.343 1.343 0 00-1.189-.72z"
                                                                            fill="#003087"></path>
                                                                        <path
                                                                            d="M310.394 63.177l-6.613 42.056a1.34 1.34 0 00.766 1.428c.176.081.367.123.561.123h6.648a2.24 2.24 0 002.212-1.89l6.519-41.302a1.347 1.347 0 00-1.327-1.551h-7.439a1.34 1.34 0 00-1.327 1.134"
                                                                            fill="#009CDE"></path>
                                                                        <path
                                                                            d="M78.676 47.805c-3.476-3.963-9.76-5.662-17.8-5.662H37.544a3.342 3.342 0 00-3.302 2.819l-9.71 61.619a2 2 0 001.14 2.13c.263.121.549.184.838.183h14.405l3.617-22.946-.112.719a3.332 3.332 0 013.288-2.818h6.845c13.447 0 23.976-5.462 27.051-21.262.092-.467.17-.922.24-1.367.913-5.84-.007-9.814-3.166-13.413"
                                                                            fill="#003087"></path>
                                                                        <path
                                                                            d="M48.418 61.297a2.924 2.924 0 012.885-2.465h18.291c2.167 0 4.187.141 6.034.436a25.35 25.35 0 012.99.669 16.58 16.58 0 013.221 1.283c.918-5.841-.004-9.814-3.163-13.415-3.478-3.96-9.76-5.66-17.8-5.66H37.542a3.342 3.342 0 00-3.298 2.819l-9.715 61.613a2 2 0 001.977 2.315h14.407l3.617-22.948 3.888-24.647z"
                                                                            fill="#003087"></path>
                                                                        <path
                                                                            d="M81.841 61.218c-.071.457-.15.913-.239 1.367-3.075 15.798-13.605 21.262-27.052 21.262h-6.846a3.327 3.327 0 00-3.286 2.818l-3.505 22.225-.997 6.305a1.752 1.752 0 001.732 2.027H53.79a2.923 2.923 0 002.885-2.465l.118-.619 2.289-14.504.145-.802a2.922 2.922 0 012.887-2.465h1.817c11.763 0 20.973-4.776 23.665-18.599 1.121-5.773.54-10.598-2.43-13.985a11.596 11.596 0 00-3.325-2.565z"
                                                                            fill="#009CDE"></path>
                                                                        <path
                                                                            d="M78.62 59.937c-.47-.14-.953-.264-1.452-.374a25.674 25.674 0 00-1.54-.29c-1.849-.302-3.867-.443-6.035-.443h-18.29a2.915 2.915 0 00-2.885 2.467L44.53 85.948l-.112.717a3.327 3.327 0 013.285-2.818h6.848c13.447 0 23.976-5.462 27.051-21.262.092-.467.168-.92.24-1.367a16.607 16.607 0 00-2.53-1.067 26.858 26.858 0 00-.692-.216"
                                                                            fill="#012169"></path>
                                                                    </svg></span><span
                                                                    class="snipcart-payment-methods-list-item__arrow"><svg
                                                                        viewBox="0 0 64 64" fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg" alt=""
                                                                        title="" class="snipcart__icon">
                                                                        <path
                                                                            d="M51.364 30.158H6v3.423h45.628l-9.148 9.055L44.868 45 58 32 44.868 19l-2.388 2.364 8.884 8.794z"
                                                                            fill="currentColor"></path>
                                                                    </svg></span></button></li>
                                                    </ul><!---->
                                                </div>
                                            </div>
                                        </div>
                                    </div><!---->
                                </form>
                            </div>
                        </div>
                        <div class="snipcart-layout__col">
                            <div style="width: 393px; position: fixed;">
                                <div>
                                    <div class="snipcart-cart-summary">
                                        <section class="snipcart-cart-summary__content">
                                            <div class="snipcart-cart-summary__actions snipcart__box--header">
                                                <h1 class="snipcart-cart-summary__title snipcart__font--subtitle">Order
                                                    summary</h1><button type="button"
                                                    class="snipcart-button-link">Edit</button>
                                            </div>
                                            <ul
                                                class="snipcart-cart-summary-items-list snipcart-scrollbar snipcart-cart-summary__items">
                                                <li class="snipcart-cart-summary-item"><span
                                                        class="snipcart-cart-summary-item__name snipcart__font--slim">
                                                        Two custom Instagram name stickers </span><span
                                                        class="snipcart-cart-summary-item__quantity snipcart__font--slim">
                                                        x1 </span><span
                                                        class="snipcart-cart-summary-item__price snipcart__font--slim">
                                                        $9.99 </span></li>
                                            </ul>
                                            <hr class="snipcart-cart-summary__separator">
                                            <div class="snipcart-loading-overlay"><!---->
                                                <div class="snipcart-loading-overlay__content">
                                                    <div class="snipcart-cart-summary__totals">
                                                        <div class="snipcart-summary-fees"><!---->
                                                            <div class="snipcart-summary-fees"><!---->
                                                                <div
                                                                    class="snipcart-summary-fees__item snipcart__font--slim">
                                                                    <span
                                                                        class="snipcart-summary-fees__title">Subtotal</span><span
                                                                        class="snipcart-summary-fees__amount">$9.99</span>
                                                                </div>
                                                                <div
                                                                    class="snipcart-summary-fees__item snipcart__font--slim">
                                                                    <span
                                                                        class="snipcart-summary-fees__title">Shipping</span><span
                                                                        class="snipcart-summary-fees__amount">$0.58</span>
                                                                </div>
                                                                <div
                                                                    class="snipcart-summary-fees__item snipcart__font--slim">
                                                                    <span class="snipcart-summary-fees__title"> Taxes
                                                                        <!---->
                                                                        <div class="snipcart-tool-tip snipcart__font--secondary snipcart-tool-tip--bordered snipcart-summary-fees__tool-tip"
                                                                            style="display: none;">
                                                                            <div class="snipcart-tool-tip__container">
                                                                                Some items have taxes included. </div>
                                                                        </div>
                                                                    </span><span
                                                                        class="snipcart-summary-fees__amount">$0.00</span>
                                                                </div>
                                                                <div
                                                                    class="snipcart-summary-fees__item snipcart-summary-fees__total snipcart__font--bold snipcart__font--secondary">
                                                                    <span
                                                                        class="snipcart-summary-fees__title snipcart-summary-fees__title--highlight snipcart__font--large">Total</span><span
                                                                        class="snipcart-summary-fees__amount snipcart-summary-fees__amount--highlight snipcart__font--large">$10.57</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <footer class="snipcart-cart-summary__footer">
                                            <div
                                                class="snipcart-featured-payment-methods snipcart-featured-payment-methods--no-background">
                                                <h3
                                                    class="snipcart__font--secondary snipcart__font--bold  snipcart-featured-payment-methods__title">
                                                    <a href="https://snipcart.com/security?utm_source=cart_referral&amp;utm_medium=powered_by&amp;utm_campaign=powered_by_ref&amp;utm_term=bimmersticker.store"
                                                        target="_blank" rel="nofollow noopener"
                                                        class="snipcart-featured-payment-methods__link"><svg
                                                            viewBox="0 0 64 64" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg" alt="" title=""
                                                            class="snipcart-featured-payment-methods__title-icon snipcart__icon">
                                                            <path
                                                                d="M16.615 23.765v-4.942C16.615 10.637 23.28 4 31.5 4c8.22 0 14.885 6.637 14.885 14.823v4.942H53V60H10V23.765h6.615zm0 3.294h-3.307v29.647h36.384V27.059H16.615zm13.231 9.882h3.308v9.883h-3.308V36.94zm-9.923-13.176h23.154v-4.942c0-6.367-5.183-11.529-11.577-11.529s-11.577 5.162-11.577 11.53v4.94z"
                                                                fill="currentColor"></path>
                                                        </svg> Secured by Snipcart </a></h3>
                                                <ul class="snipcart-featured-payment-methods__list">
                                                    <li class="snipcart-featured-payment-methods__list-item"><svg
                                                            viewBox="0 0 174 56" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg" alt="Visa" title="Visa"
                                                            class="snipcart__icon--brand snipcart__icon">
                                                            <path
                                                                d="M74.98 55.192H60.965L69.73.982h14.016l-8.766 54.21zm50.813-52.884C123.028 1.21 118.643 0 113.221 0c-13.842 0-23.59 7.381-23.65 17.934-.114 7.786 6.98 12.111 12.285 14.707 5.423 2.653 7.267 4.385 7.267 6.75-.056 3.63-4.382 5.305-8.418 5.305-5.596 0-8.595-.863-13.151-2.884l-1.846-.866-1.962 12.169c3.288 1.498 9.345 2.827 15.633 2.885 14.707 0 24.282-7.267 24.396-18.513.056-6.171-3.69-10.9-11.766-14.764-4.902-2.48-7.905-4.152-7.905-6.69.058-2.307 2.54-4.67 8.074-4.67 4.557-.116 7.905.98 10.441 2.075l1.268.576 1.906-11.706zm18.63 33.68c1.154-3.114 5.596-15.168 5.596-15.168-.058.116 1.152-3.171 1.844-5.19l.98 4.672s2.654 12.976 3.23 15.686h-11.65zM161.725.983h-10.842c-3.344 0-5.884.98-7.326 4.498l-20.821 49.71h14.708l2.942-8.131h17.996a2177.47 2177.47 0 011.673 8.132h12.978L161.725.982zm-112.468 0L35.529 37.949l-1.5-7.497C31.491 21.8 23.532 12.401 14.65 7.729l12.574 47.406h14.822L64.078.983H49.256z"
                                                                fill="#00579F"></path>
                                                            <path
                                                                d="M22.782.983H.232L0 2.078C17.592 6.577 29.242 17.42 34.03 30.454L29.126 5.54c-.807-3.463-3.288-4.443-6.345-4.557z"
                                                                fill="#FAA61A"></path>
                                                        </svg></li>
                                                    <li class="snipcart-featured-payment-methods__list-item"><svg
                                                            viewBox="0 0 104 64" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg" alt="Mastercard"
                                                            title="Mastercard"
                                                            class="snipcart__icon--brand snipcart__icon">
                                                            <path d="M67.173 6.842H36.37v50.31h30.803V6.842z"
                                                                fill="#FF5F00"></path>
                                                            <path
                                                                d="M39.543 32.002a31.939 31.939 0 0112.22-25.15 31.994 31.994 0 100 50.31 31.939 31.939 0 01-12.22-25.16z"
                                                                fill="#EB001B"></path>
                                                            <path
                                                                d="M103.53 32.002a31.991 31.991 0 01-35.41 31.81 31.994 31.994 0 01-16.357-6.66 31.992 31.992 0 000-50.31 31.994 31.994 0 0151.767 25.151v.009z"
                                                                fill="#F79E1B"></path>
                                                        </svg></li>
                                                </ul>
                                            </div>
                                        </footer>
                                    </div>
                                </div><!----><!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!---->
        </div>
    </div>
</div>