<div id="snipcart" class="snipcart">
    <div class="snipcart-modal__container snipcart-layout--large snipcart-cart__order-container">
        <div class="snipcart-layout snipcart-modal">
            <div class="snipcart-test-banner">
                <div class="snipcart-test-banner__message">TEST MODE</div>
            </div>
            <header class="snipcart-cart-header snipcart-checkout__header"><button
                    class="snipcart-cart-header__close-button snipcart-modal__close"><svg viewBox="0 0 64 64"
                        fill="none" xmlns="http://www.w3.org/2000/svg" alt="" title=""
                        class="snipcart-modal__close-icon snipcart__icon">
                        <path
                            d="M12.636 30.158H58v3.423H12.372l9.148 9.055L19.132 45 6 32l13.132-13 2.388 2.364-8.884 8.794z"
                            fill="currentColor"></path>
                    </svg><span class="snipcart-modal__close-title snipcart__font--std"> Continue shopping
                    </span></button><!---->
                <div class="snipcart-cart-header__options"><!----><!----><!----><!----><!----></div>
            </header>
            <div class="snipcart-layout__content">
                <div>
                    <div class="snipcart-order__details">
                        <div class="snipcart__box snipcart-order__box snipcart-order__box__header">
                            <div class="snipcart__box--title">
                                <div
                                    class="snipcart__box--badge snipcart__box--badge snipcart__box--badge-highlight snipcart__font--bold snipcart__font--secondary">
                                    <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" alt=""
                                        title="" class="snipcart__icon snipcart__icon">
                                        <path d="M3 11.5L8.5 16 18 3.5" stroke="currentColor" stroke-width="2"></path>
                                    </svg></div>
                                <div>
                                    <h1 class="snipcart__font--subtitle">Thank you for your order</h1>
                                </div>
                            </div>
                            <div class="snipcart-order__invoice-number"> Invoice number : <em
                                    class="snipcart-order__invoice-number--highlight snipcart__font--black snipcart__font--secondary">BMR1015</em>
                            </div>
                        </div>
                        <div class="snipcart-order__details__content">
                            <div class="snipcart__box snipcart-order__box">
                                <div class="snipcart-order__details-title snipcart__box--subtitle"><svg
                                        viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg" alt=""
                                        title="" class="snipcart__icon--left snipcart__icon--blue-dark snipcart__icon">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M51.714 20.47L55 60H9l3.286-39.53h9.857v-6.588C22.143 8.424 26.556 4 32 4c5.444 0 9.857 4.424 9.857 9.882v6.589h9.857zM25.43 13.883v16.47h-3.286v-6.587H15.31l-2.737 32.94h38.856l-2.737-32.94h-6.834v6.588h-3.286v-16.47c0-3.634-2.947-6.589-6.571-6.589-3.624 0-6.571 2.955-6.571 6.588zm3.285 9.883V20.47h6.572v3.294h-6.572z"
                                            fill="currentColor"></path>
                                    </svg>
                                    <h1 class="snipcart__font--subtitle">Cart summary</h1>
                                </div>
                                <ul class="snipcart-cart-summary-items-list snipcart-scrollbar">
                                    <li class="snipcart-cart-summary-expanded-item">
                                        <div><span
                                                class="snipcart-cart-summary-expanded-item__name snipcart__font--secondary snipcart__font--regular">Custom
                                                Reverse Cut Sun Strip</span>
                                            <ul class="snipcart-cart-summary-expanded-item__custom-fields">
                                                <li>Your sun strip text: Hel</li>
                                                <li>Font: Knight</li>
                                                <li>Base color: Matte black</li>
                                            </ul>
                                        </div>
                                        <div
                                            class="snipcart-cart-summary-expanded-item--secondary snipcart-cart-summary-expanded-item__quantity">
                                            Qty: 6 </div>
                                        <div
                                            class="snipcart-cart-summary-expanded-item--secondary snipcart-cart-summary-expanded-item__price snipcart__font--secondary snipcart__font--bold">
                                            $35.99 </div>
                                    </li>
                                    <li class="snipcart-cart-summary-expanded-item">
                                        <div><span
                                                class="snipcart-cart-summary-expanded-item__name snipcart__font--secondary snipcart__font--regular">Custom
                                                Windshield Banner</span>
                                            <ul class="snipcart-cart-summary-expanded-item__custom-fields">
                                                <li>Your banner text: Hel</li>
                                                <li>Font: Knight</li>
                                                <li>Text color: White</li>
                                            </ul>
                                        </div>
                                        <div
                                            class="snipcart-cart-summary-expanded-item--secondary snipcart-cart-summary-expanded-item__quantity">
                                            Qty: 2 </div>
                                        <div
                                            class="snipcart-cart-summary-expanded-item--secondary snipcart-cart-summary-expanded-item__price snipcart__font--secondary snipcart__font--bold">
                                            $27.99 </div>
                                    </li>
                                </ul>
                            </div>
                            <div
                                class="snipcart__box snipcart-billing-completed snipcart-billing-completed--titled snipcart-order__box">
                                <div class="snipcart-billing-completed__header snipcart__box--header">
                                    <div class="snipcart__box--title"><!---->
                                        <h1 class="snipcart-billing-completed__title snipcart__font--subtitle"><svg
                                                viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                alt="" title="" class="snipcart__icon--left snipcart__icon">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M19.609 57c-2.131 0-4.107-.888-5.562-2.499-1.543-1.707-2.268-4.023-1.988-6.342l.856-7.167c.487-4.11 2.666-7.791 5.985-10.095l1.753 2.454c-2.609 1.812-4.329 4.725-4.715 7.989l-.859 7.17a5.074 5.074 0 001.242 3.999c.868.96 2.037 1.491 3.288 1.491H45.39c1.251 0 2.42-.531 3.288-1.491a5.074 5.074 0 001.242-3.999l-.855-7.167c-.39-3.267-2.107-6.177-4.72-7.992l1.754-2.454c3.319 2.307 5.501 5.988 5.989 10.098l.852 7.164c.28 2.319-.445 4.635-1.988 6.342C49.501 56.112 47.523 57 45.391 57H19.61zM18.8 19.5C18.8 12.057 24.947 6 32.5 6c7.554 0 13.7 6.057 13.7 13.5S40.053 33 32.5 33c-7.552 0-13.699-6.057-13.699-13.5zm3.045 0c0 5.79 4.78 10.5 10.655 10.5 5.875 0 10.655-4.71 10.655-10.5S38.376 9 32.5 9c-5.876 0-10.655 4.71-10.655 10.5z"
                                                    fill="currentColor"></path>
                                            </svg> Billing </h1>
                                    </div><!---->
                                </div>
                                <div class="snipcart-checkout-step__cols snipcart__font--std">
                                    <div class="snipcart-checkout-step__col">
                                        <div class="snipcart-checkout-step__icon snipcart-billing-completed__step-icon">
                                            <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                alt="" title="" class="snipcart__icon">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M19.609 57c-2.131 0-4.107-.888-5.562-2.499-1.543-1.707-2.268-4.023-1.988-6.342l.856-7.167c.487-4.11 2.666-7.791 5.985-10.095l1.753 2.454c-2.609 1.812-4.329 4.725-4.715 7.989l-.859 7.17a5.074 5.074 0 001.242 3.999c.868.96 2.037 1.491 3.288 1.491H45.39c1.251 0 2.42-.531 3.288-1.491a5.074 5.074 0 001.242-3.999l-.855-7.167c-.39-3.267-2.107-6.177-4.72-7.992l1.754-2.454c3.319 2.307 5.501 5.988 5.989 10.098l.852 7.164c.28 2.319-.445 4.635-1.988 6.342C49.501 56.112 47.523 57 45.391 57H19.61zM18.8 19.5C18.8 12.057 24.947 6 32.5 6c7.554 0 13.7 6.057 13.7 13.5S40.053 33 32.5 33c-7.552 0-13.699-6.057-13.699-13.5zm3.045 0c0 5.79 4.78 10.5 10.655 10.5 5.875 0 10.655-4.71 10.655-10.5S38.376 9 32.5 9c-5.876 0-10.655 4.71-10.655 10.5z"
                                                    fill="currentColor"></path>
                                            </svg></div>
                                        <div>
                                            <h3
                                                class="snipcart-billing-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                Customer information</h3><span
                                                class="snipcart-billing-completed__information snipcart__font--std">Heather
                                                Kish<br>info@stickerstore.llc</span>
                                        </div>
                                    </div>
                                    <div class="snipcart-checkout-step__col">
                                        <div class="snipcart-checkout-step__icon snipcart-billing-completed__step-icon">
                                            <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                alt="" title="" class="snipcart__icon">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M15 24.573C15 14.868 22.835 7 32.5 7S50 14.868 50 24.573C50 40.687 32.5 56 32.5 56S15 40.687 15 24.573zm31.95 0c0-8.003-6.484-14.51-14.45-14.51-7.966 0-14.45 6.507-14.45 14.51 0 11.438 10.061 22.79 14.447 27.2 4.386-4.415 14.453-15.796 14.453-27.2zm-20.55.802c0-3.381 2.733-6.125 6.1-6.125 3.367 0 6.1 2.744 6.1 6.125S35.867 31.5 32.5 31.5c-3.367 0-6.1-2.744-6.1-6.125zm9.15 0a3.057 3.057 0 00-3.05-3.063 3.057 3.057 0 00-3.05 3.063 3.057 3.057 0 003.05 3.063 3.057 3.057 0 003.05-3.063z"
                                                    fill="currentColor"></path>
                                            </svg></div>
                                        <div>
                                            <h3
                                                class="snipcart-billing-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                Billing address</h3><span
                                                class="snipcart-billing-completed__information snipcart__font--std">318
                                                Ravenel St, Columbia, SC, US, 29205</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="snipcart__box snipcart-shipping-completed snipcart-shipping-completed--titled snipcart-order__box">
                                <div class="snipcart-shipping-completed__header snipcart__box--header">
                                    <div class="snipcart__box--title"><!---->
                                        <h1 class="snipcart-shipping-completed__title snipcart__font--subtitle"><svg
                                                viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                alt="" title="" class="snipcart__icon--left snipcart__icon">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M32 9L6.929 18.635v26.153L31.999 55.8l25.072-11.012V18.635L32 9zm-7.65 5.891L32 11.954l21.36 8.21-8.437 3.473-20.573-8.746zm-13.71 5.272l10.011-3.849 20.69 8.799L32 28.959l-21.36-8.796zm33.533 16.493l1.106-.017V26.63l9.006-3.71V43l-20.892 9.173V31.53l9.1-3.752v9.905l1.68-1.027zM9.714 43V22.92l20.893 8.61v20.645L9.714 43.001z"
                                                    fill="currentColor"></path>
                                            </svg> Shipping </h1>
                                    </div><!---->
                                </div>
                                <div class="snipcart-checkout-step__cols snipcart__font--std">
                                    <div class="snipcart-checkout-step__col">
                                        <div
                                            class="snipcart-checkout-step__icon snipcart-shipping-completed__step-icon">
                                            <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                alt="" title="" class="snipcart__icon">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M15 24.573C15 14.868 22.835 7 32.5 7S50 14.868 50 24.573C50 40.687 32.5 56 32.5 56S15 40.687 15 24.573zm31.95 0c0-8.003-6.484-14.51-14.45-14.51-7.966 0-14.45 6.507-14.45 14.51 0 11.438 10.061 22.79 14.447 27.2 4.386-4.415 14.453-15.796 14.453-27.2zm-20.55.802c0-3.381 2.733-6.125 6.1-6.125 3.367 0 6.1 2.744 6.1 6.125S35.867 31.5 32.5 31.5c-3.367 0-6.1-2.744-6.1-6.125zm9.15 0a3.057 3.057 0 00-3.05-3.063 3.057 3.057 0 00-3.05 3.063 3.057 3.057 0 003.05 3.063 3.057 3.057 0 003.05-3.063z"
                                                    fill="currentColor"></path>
                                            </svg></div>
                                        <div class="snipcart__address__display">
                                            <h3
                                                class="snipcart-checkout-step__title snipcart-shipping-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                Shipping address</h3><span
                                                class="snipcart-shipping-completed__information snipcart__font--std">318
                                                Ravenel St, Columbia, SC, US, 29205</span>
                                        </div>
                                    </div>
                                    <div class="snipcart-checkout-step__col">
                                        <div
                                            class="snipcart-checkout-step__icon snipcart-shipping-completed__step-icon">
                                            <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                alt="" title="" class="snipcart__icon">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M32 9L6.929 18.635v26.153L31.999 55.8l25.072-11.012V18.635L32 9zm-7.65 5.891L32 11.954l21.36 8.21-8.437 3.473-20.573-8.746zm-13.71 5.272l10.011-3.849 20.69 8.799L32 28.959l-21.36-8.796zm33.533 16.493l1.106-.017V26.63l9.006-3.71V43l-20.892 9.173V31.53l9.1-3.752v9.905l1.68-1.027zM9.714 43V22.92l20.893 8.61v20.645L9.714 43.001z"
                                                    fill="currentColor"></path>
                                            </svg></div>
                                        <div>
                                            <h3
                                                class="snipcart-checkout-step__title snipcart-shipping-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                Shipping method</h3><span
                                                class="snipcart-shipping-completed__information">USPS Ground • with
                                                Tracking</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="snipcart__box snipcart-order__box">
                                <div class="snipcart-order__title snipcart__box--subtitle"><svg viewBox="0 0 64 64"
                                        fill="none" xmlns="http://www.w3.org/2000/svg" alt="" title=""
                                        class="snipcart__icon--left snipcart__icon--blue-dark snipcart__icon" width="17"
                                        height="16">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M55.658 14C58.055 14 60 15.911 60 18.27v28.46c0 2.36-1.945 4.27-4.342 4.27H9.342C6.944 51 5 49.089 5 46.73V18.27C5 15.91 6.944 14 9.342 14h46.316zm1.447 32.73V18.27c0-.786-.65-1.424-1.447-1.424H9.342c-.799 0-1.447.638-1.447 1.423v28.462c0 .785.648 1.423 1.447 1.423h46.316c.797 0 1.447-.638 1.447-1.423zM12.237 31.078c-.8 0-1.447-.636-1.447-1.423v-5.692c0-.787.646-1.424 1.447-1.424H26.71c.8 0 1.448.637 1.448 1.424v5.692c0 .787-.649 1.423-1.448 1.423H12.237zm5.79 7.827c.798 0 1.447.636 1.447 1.423v1.423c0 .787-.649 1.423-1.448 1.423h-5.79c-.8 0-1.447-.636-1.447-1.423v-1.423c0-.787.647-1.423 1.448-1.423h5.79zm11.578 0c.8 0 1.448.636 1.448 1.423v1.423c0 .787-.649 1.423-1.448 1.423h-5.79c-.8 0-1.447-.636-1.447-1.423v-1.423c0-.787.647-1.423 1.448-1.423h5.79zm11.58 0c.798 0 1.447.636 1.447 1.423v1.423c0 .787-.649 1.423-1.448 1.423h-5.79c-.8 0-1.447-.636-1.447-1.423v-1.423c0-.787.647-1.423 1.448-1.423h5.79zm11.578 0c.8 0 1.448.636 1.448 1.423v1.423c0 .787-.649 1.423-1.448 1.423h-5.79c-.8 0-1.447-.636-1.447-1.423v-1.423c0-.787.647-1.423 1.448-1.423h5.79z"
                                            fill="currentColor"></path>
                                    </svg>
                                    <h1 class="snipcart__font--subtitle">Payment</h1>
                                </div>
                                <div class="snipcart__box--content">
                                    <h3
                                        class="snipcart-order__step-title snipcart__font--secondary snipcart__font--bold">
                                        Credit card </h3>
                                    <div class="snipcart-order__card snipcart__font--std">
                                        <div class="snipcart-card-icon"><svg viewBox="0 0 64 64" fill="none"
                                                xmlns="http://www.w3.org/2000/svg" class="snipcart-card-icon__svg">
                                                <path
                                                    d="M28.252 40.382H24.09l2.593-16.11h4.232l-2.662 16.11zM20.54 24.273L16.58 35.33l-.478-2.39-1.433-7.235s-.137-1.433-1.98-1.433H6.07l-.07.274s2.048.41 4.368 1.843l3.687 13.993h4.368l6.621-16.11H20.54zm32.9 16.109h3.822l-3.345-16.04h-3.344c-1.57 0-1.911 1.228-1.911 1.228L42.45 40.382h4.369l.887-2.389h5.324l.41 2.39zm-4.574-5.734l2.185-6.006 1.228 6.006h-3.413zm-6.143-6.484l.614-3.481S41.494 24 39.583 24c-2.048 0-7.03.887-7.03 5.324 0 4.164 5.802 4.232 5.802 6.348 0 2.184-5.188 1.775-6.895.41l-.614 3.617s1.843.888 4.71.888 7.167-1.502 7.167-5.53c0-4.163-5.87-4.572-5.87-6.347.068-1.775 4.095-1.502 5.87-.546z"
                                                    fill="#0066B2"></path>
                                                <path
                                                    d="M16.102 32.942l-1.433-7.236s-.137-1.433-1.98-1.433H6.07l-.07.273s3.14.683 6.211 3.14c2.936 2.32 3.891 5.256 3.891 5.256z"
                                                    fill="#F9A533"></path>
                                            </svg></div> ···· ···· ···· 4242
                                    </div>
                                </div>
                            </div>
                            <footer class="snipcart__box snipcart-order__box snipcart-order__footer">
                                <div class="snipcart-summary-fees snipcart-order__fees"><!---->
                                    <div class="snipcart-summary-fees"><!---->
                                        <div class="snipcart-summary-fees__item snipcart__font--slim"><span
                                                class="snipcart-summary-fees__title">Subtotal</span><span
                                                class="snipcart-summary-fees__amount">$271.92</span></div>
                                        <div class="snipcart-summary-fees__item snipcart__font--slim"><span
                                                class="snipcart-summary-fees__title">Shipping</span><span
                                                class="snipcart-summary-fees__amount">$20.85</span></div><!---->
                                        <div
                                            class="snipcart-summary-fees__item snipcart-summary-fees__total snipcart__font--bold snipcart__font--secondary">
                                            <span
                                                class="snipcart-summary-fees__title snipcart-summary-fees__title--highlight snipcart__font--large">Total</span><span
                                                class="snipcart-summary-fees__amount snipcart-summary-fees__amount--highlight snipcart__font--large">$292.77</span>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>