<div id="snipcart" class="snipcart">
    <div class="snipcart-modal__container snipcart-layout--large">
        <div class="snipcart-layout snipcart-modal">
            <div class="snipcart-test-banner">
                <div class="snipcart-test-banner__message">TEST MODE</div>
            </div>
            <header class="snipcart-cart-header snipcart-checkout__header snipcart-layout__header--fixed"><button
                    class="snipcart-cart-header__close-button snipcart-modal__close"><svg viewBox="0 0 64 64"
                        fill="none" xmlns="http://www.w3.org/2000/svg" alt="" title=""
                        class="snipcart-modal__close-icon snipcart__icon">
                        <path
                            d="M12.636 30.158H58v3.423H12.372l9.148 9.055L19.132 45 6 32l13.132-13 2.388 2.364-8.884 8.794z"
                            fill="currentColor"></path>
                    </svg><span class="snipcart-modal__close-title snipcart__font--std"> Continue shopping
                    </span></button><!---->
                <div class="snipcart-cart-header__options"><!----><!----><!----><!----><!----></div>
            </header>
            <div>
                <div class="snipcart-checkout__content snipcart-layout__content">
                    <div class="snipcart-layout__cols">
                        <div class="snipcart-layout__col snipcart-layout__col--large">
                            <div id="snipcart-checkout-step-billing" class="snipcart-checkout-step">
                                <div class="snipcart__box snipcart-billing-completed snipcart__box--gray">
                                    <div class="snipcart-billing-completed__header snipcart__box--header">
                                        <div class="snipcart__box--title">
                                            <div
                                                class="snipcart__box--badge snipcart__font--bold snipcart__font--secondary">
                                                <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon snipcart__icon">
                                                    <path d="M3 11.5L8.5 16 18 3.5" stroke="currentColor"
                                                        stroke-width="2"></path>
                                                </svg></div>
                                            <h1 class="snipcart-billing-completed__title snipcart__font--subtitle">
                                                <!----> Billing </h1>
                                        </div><button type="button" class="snipcart-button-link">Edit</button>
                                    </div>
                                    <div class="snipcart-checkout-step__cols snipcart__font--std">
                                        <div class="snipcart-checkout-step__col">
                                            <div
                                                class="snipcart-checkout-step__icon snipcart-billing-completed__step-icon">
                                                <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M19.609 57c-2.131 0-4.107-.888-5.562-2.499-1.543-1.707-2.268-4.023-1.988-6.342l.856-7.167c.487-4.11 2.666-7.791 5.985-10.095l1.753 2.454c-2.609 1.812-4.329 4.725-4.715 7.989l-.859 7.17a5.074 5.074 0 001.242 3.999c.868.96 2.037 1.491 3.288 1.491H45.39c1.251 0 2.42-.531 3.288-1.491a5.074 5.074 0 001.242-3.999l-.855-7.167c-.39-3.267-2.107-6.177-4.72-7.992l1.754-2.454c3.319 2.307 5.501 5.988 5.989 10.098l.852 7.164c.28 2.319-.445 4.635-1.988 6.342C49.501 56.112 47.523 57 45.391 57H19.61zM18.8 19.5C18.8 12.057 24.947 6 32.5 6c7.554 0 13.7 6.057 13.7 13.5S40.053 33 32.5 33c-7.552 0-13.699-6.057-13.699-13.5zm3.045 0c0 5.79 4.78 10.5 10.655 10.5 5.875 0 10.655-4.71 10.655-10.5S38.376 9 32.5 9c-5.876 0-10.655 4.71-10.655 10.5z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                            <div>
                                                <h3
                                                    class="snipcart-billing-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                    Customer information</h3><span
                                                    class="snipcart-billing-completed__information snipcart__font--std">Heather
                                                    Kish<br>info@stickerstore.llc</span>
                                            </div>
                                        </div>
                                        <div class="snipcart-checkout-step__col">
                                            <div
                                                class="snipcart-checkout-step__icon snipcart-billing-completed__step-icon">
                                                <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M15 24.573C15 14.868 22.835 7 32.5 7S50 14.868 50 24.573C50 40.687 32.5 56 32.5 56S15 40.687 15 24.573zm31.95 0c0-8.003-6.484-14.51-14.45-14.51-7.966 0-14.45 6.507-14.45 14.51 0 11.438 10.061 22.79 14.447 27.2 4.386-4.415 14.453-15.796 14.453-27.2zm-20.55.802c0-3.381 2.733-6.125 6.1-6.125 3.367 0 6.1 2.744 6.1 6.125S35.867 31.5 32.5 31.5c-3.367 0-6.1-2.744-6.1-6.125zm9.15 0a3.057 3.057 0 00-3.05-3.063 3.057 3.057 0 00-3.05 3.063 3.057 3.057 0 003.05 3.063 3.057 3.057 0 003.05-3.063z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                            <div>
                                                <h3
                                                    class="snipcart-billing-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                    Billing address</h3><span
                                                    class="snipcart-billing-completed__information snipcart__font--std">318
                                                    Ravenel St, Columbia, SC, US, 29205</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="snipcart-checkout-step-shipping" class="snipcart-checkout-step">
                                <div class="snipcart__box snipcart-shipping-completed snipcart__box--gray">
                                    <div class="snipcart-shipping-completed__header snipcart__box--header">
                                        <div class="snipcart__box--title">
                                            <div
                                                class="snipcart__box--badge snipcart__font--bold snipcart__font--secondary">
                                                <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon snipcart__icon">
                                                    <path d="M3 11.5L8.5 16 18 3.5" stroke="currentColor"
                                                        stroke-width="2"></path>
                                                </svg></div>
                                            <h1 class="snipcart-shipping-completed__title snipcart__font--subtitle">
                                                <!----> Shipping </h1>
                                        </div><button type="button" class="snipcart-button-link">Edit</button>
                                    </div>
                                    <div class="snipcart-checkout-step__cols snipcart__font--std">
                                        <div class="snipcart-checkout-step__col">
                                            <div
                                                class="snipcart-checkout-step__icon snipcart-shipping-completed__step-icon">
                                                <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M15 24.573C15 14.868 22.835 7 32.5 7S50 14.868 50 24.573C50 40.687 32.5 56 32.5 56S15 40.687 15 24.573zm31.95 0c0-8.003-6.484-14.51-14.45-14.51-7.966 0-14.45 6.507-14.45 14.51 0 11.438 10.061 22.79 14.447 27.2 4.386-4.415 14.453-15.796 14.453-27.2zm-20.55.802c0-3.381 2.733-6.125 6.1-6.125 3.367 0 6.1 2.744 6.1 6.125S35.867 31.5 32.5 31.5c-3.367 0-6.1-2.744-6.1-6.125zm9.15 0a3.057 3.057 0 00-3.05-3.063 3.057 3.057 0 00-3.05 3.063 3.057 3.057 0 003.05 3.063 3.057 3.057 0 003.05-3.063z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                            <div class="snipcart__address__display">
                                                <h3
                                                    class="snipcart-checkout-step__title snipcart-shipping-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                    Shipping address</h3><span
                                                    class="snipcart-shipping-completed__information snipcart__font--std">318
                                                    Ravenel St, Columbia, SC, US, 29205</span>
                                            </div>
                                        </div>
                                        <div class="snipcart-checkout-step__col">
                                            <div
                                                class="snipcart-checkout-step__icon snipcart-shipping-completed__step-icon">
                                                <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    alt="" title="" class="snipcart__icon">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M32 9L6.929 18.635v26.153L31.999 55.8l25.072-11.012V18.635L32 9zm-7.65 5.891L32 11.954l21.36 8.21-8.437 3.473-20.573-8.746zm-13.71 5.272l10.011-3.849 20.69 8.799L32 28.959l-21.36-8.796zm33.533 16.493l1.106-.017V26.63l9.006-3.71V43l-20.892 9.173V31.53l9.1-3.752v9.905l1.68-1.027zM9.714 43V22.92l20.893 8.61v20.645L9.714 43.001z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                            <div>
                                                <h3
                                                    class="snipcart-checkout-step__title snipcart-shipping-completed__step-title snipcart__font--secondary snipcart__font--bold">
                                                    Shipping method</h3><span
                                                    class="snipcart-shipping-completed__information">USPS First-Class
                                                    Package • with Tracking</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="snipcart-checkout-step-payment" class="snipcart-checkout-step">
                                <form class="snipcart-form snipcart-payment snipcart__box">
                                    <div class="snipcart__box--header">
                                        <div class="snipcart__box--title">
                                            <div
                                                class="snipcart__box--badge snipcart__box--badge snipcart__box--badge-highlight snipcart__font--bold snipcart__font--secondary">
                                                3</div>
                                            <h1 class="snipcart-payment__header snipcart__font--subtitle">Payment</h1>
                                        </div>
                                    </div><!---->
                                    <div class="snipcart-loading-overlay snipcart-payment__loading"><!---->
                                        <div class="snipcart-loading-overlay__content"><!---->
                                            <div class="snipcart-payment__form-container">
                                                <div class="snipcart-payment-card-form__container">
                                                    <div class="snipcart-payment-card-authentication__container"></div>
                                                    <div class="snipcart-loading-overlay"><!---->
                                                        <div class="snipcart-loading-overlay__content">
                                                            <fieldset class="snipcart-form__set">
                                                                <div class="snipcart-form__field">
                                                                    <div
                                                                        class="snipcart-payment-card-form snipcart-payment-card-form--loaded">
                                                                        <iframe
                                                                            src="https://payment.snipcart.com/form/ZDY1MDg3ODQtM2MxNC00OGEzLWFiMzktNzE1NjY2NjY0OTczNjM3MDkwMTkxMjkwNDc3NjYw/0e1708af-b012c81c-02a2-4704-b4f5-432da03d70e2"
                                                                            style="visibility: visible; height: 129px;"></iframe>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <div class="snipcart-form__footer"><button type="submit"
                                                                    class="snipcart-button-primary snipcart-submit snipcart-base-button is-icon-right">
                                                                    <div class="snipcart-base-button__wrapper">
                                                                        <div class="snipcart-base-button__label"> Place
                                                                            order </div>
                                                                        <div class="snipcart-base-button__icon"><svg
                                                                                viewBox="0 0 64 64" fill="none"
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                alt="" title="" class="snipcart__icon">
                                                                                <path
                                                                                    d="M51.364 30.158H6v3.423h45.628l-9.148 9.055L44.868 45 58 32 44.868 19l-2.388 2.364 8.884 8.794z"
                                                                                    fill="currentColor"></path>
                                                                            </svg></div>
                                                                    </div>
                                                                </button></div><!---->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!---->
                                            <div
                                                class="snipcart-loading-overlay snipcart-payment-methods-list__container">
                                                <!---->
                                                <div class="snipcart-loading-overlay__content"></div>
                                            </div>
                                        </div>
                                    </div><!---->
                                </form>
                            </div>
                        </div>
                        <div class="snipcart-layout__col">
                            <div style="width: 446px; position: fixed;">
                                <div>
                                    <div class="snipcart-cart-summary">
                                        <section class="snipcart-cart-summary__content">
                                            <div class="snipcart-cart-summary__actions snipcart__box--header">
                                                <h1 class="snipcart-cart-summary__title snipcart__font--subtitle">Order
                                                    summary</h1><button type="button"
                                                    class="snipcart-button-link">Edit</button>
                                            </div>
                                            <ul
                                                class="snipcart-cart-summary-items-list snipcart-scrollbar snipcart-cart-summary__items">
                                                <li class="snipcart-cart-summary-item"><span
                                                        class="snipcart-cart-summary-item__name snipcart__font--slim">
                                                        Custom Windshield Banner </span><span
                                                        class="snipcart-cart-summary-item__quantity snipcart__font--slim">
                                                        x1 </span><span
                                                        class="snipcart-cart-summary-item__price snipcart__font--slim">
                                                        $27.99 </span></li>
                                            </ul>
                                            <hr class="snipcart-cart-summary__separator">
                                            <div class="snipcart-loading-overlay"><!---->
                                                <div class="snipcart-loading-overlay__content">
                                                    <div class="snipcart-cart-summary__totals">
                                                        <div class="snipcart-summary-fees"><!---->
                                                            <div class="snipcart-summary-fees"><!---->
                                                                <div
                                                                    class="snipcart-summary-fees__item snipcart__font--slim">
                                                                    <span
                                                                        class="snipcart-summary-fees__title">Subtotal</span><span
                                                                        class="snipcart-summary-fees__amount">$27.99</span>
                                                                </div>
                                                                <div
                                                                    class="snipcart-summary-fees__item snipcart__font--slim">
                                                                    <span
                                                                        class="snipcart-summary-fees__title">Shipping</span><span
                                                                        class="snipcart-summary-fees__amount">$4.20</span>
                                                                </div><!---->
                                                                <div
                                                                    class="snipcart-summary-fees__item snipcart-summary-fees__total snipcart__font--bold snipcart__font--secondary">
                                                                    <span
                                                                        class="snipcart-summary-fees__title snipcart-summary-fees__title--highlight snipcart__font--large">Total</span><span
                                                                        class="snipcart-summary-fees__amount snipcart-summary-fees__amount--highlight snipcart__font--large">$32.19</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <footer class="snipcart-cart-summary__footer">
                                            <div
                                                class="snipcart-featured-payment-methods snipcart-featured-payment-methods--no-background">
                                                <h3
                                                    class="snipcart__font--secondary snipcart__font--bold  snipcart-featured-payment-methods__title">
                                                    <a href="https://snipcart.com/security?utm_source=cart_referral&amp;utm_medium=powered_by&amp;utm_campaign=powered_by_ref&amp;utm_term=awesome-golick-927444.netlify.com"
                                                        target="_blank" rel="nofollow noopener"
                                                        class="snipcart-featured-payment-methods__link"><svg
                                                            viewBox="0 0 64 64" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg" alt="" title=""
                                                            class="snipcart-featured-payment-methods__title-icon snipcart__icon">
                                                            <path
                                                                d="M16.615 23.765v-4.942C16.615 10.637 23.28 4 31.5 4c8.22 0 14.885 6.637 14.885 14.823v4.942H53V60H10V23.765h6.615zm0 3.294h-3.307v29.647h36.384V27.059H16.615zm13.231 9.882h3.308v9.883h-3.308V36.94zm-9.923-13.176h23.154v-4.942c0-6.367-5.183-11.529-11.577-11.529s-11.577 5.162-11.577 11.53v4.94z"
                                                                fill="currentColor"></path>
                                                        </svg> Secured by Snipcart </a></h3>
                                                <ul class="snipcart-featured-payment-methods__list">
                                                    <li class="snipcart-featured-payment-methods__list-item"><svg
                                                            viewBox="0 0 174 56" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg" alt="Visa" title="Visa"
                                                            class="snipcart__icon--brand snipcart__icon">
                                                            <path
                                                                d="M74.98 55.192H60.965L69.73.982h14.016l-8.766 54.21zm50.813-52.884C123.028 1.21 118.643 0 113.221 0c-13.842 0-23.59 7.381-23.65 17.934-.114 7.786 6.98 12.111 12.285 14.707 5.423 2.653 7.267 4.385 7.267 6.75-.056 3.63-4.382 5.305-8.418 5.305-5.596 0-8.595-.863-13.151-2.884l-1.846-.866-1.962 12.169c3.288 1.498 9.345 2.827 15.633 2.885 14.707 0 24.282-7.267 24.396-18.513.056-6.171-3.69-10.9-11.766-14.764-4.902-2.48-7.905-4.152-7.905-6.69.058-2.307 2.54-4.67 8.074-4.67 4.557-.116 7.905.98 10.441 2.075l1.268.576 1.906-11.706zm18.63 33.68c1.154-3.114 5.596-15.168 5.596-15.168-.058.116 1.152-3.171 1.844-5.19l.98 4.672s2.654 12.976 3.23 15.686h-11.65zM161.725.983h-10.842c-3.344 0-5.884.98-7.326 4.498l-20.821 49.71h14.708l2.942-8.131h17.996a2177.47 2177.47 0 011.673 8.132h12.978L161.725.982zm-112.468 0L35.529 37.949l-1.5-7.497C31.491 21.8 23.532 12.401 14.65 7.729l12.574 47.406h14.822L64.078.983H49.256z"
                                                                fill="#00579F"></path>
                                                            <path
                                                                d="M22.782.983H.232L0 2.078C17.592 6.577 29.242 17.42 34.03 30.454L29.126 5.54c-.807-3.463-3.288-4.443-6.345-4.557z"
                                                                fill="#FAA61A"></path>
                                                        </svg></li>
                                                    <li class="snipcart-featured-payment-methods__list-item"><svg
                                                            viewBox="0 0 104 64" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg" alt="Mastercard"
                                                            title="Mastercard"
                                                            class="snipcart__icon--brand snipcart__icon">
                                                            <path d="M67.173 6.842H36.37v50.31h30.803V6.842z"
                                                                fill="#FF5F00"></path>
                                                            <path
                                                                d="M39.543 32.002a31.939 31.939 0 0112.22-25.15 31.994 31.994 0 100 50.31 31.939 31.939 0 01-12.22-25.16z"
                                                                fill="#EB001B"></path>
                                                            <path
                                                                d="M103.53 32.002a31.991 31.991 0 01-35.41 31.81 31.994 31.994 0 01-16.357-6.66 31.992 31.992 0 000-50.31 31.994 31.994 0 0151.767 25.151v.009z"
                                                                fill="#F79E1B"></path>
                                                        </svg></li>
                                                </ul>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                                <div class="snipcart-cart-summary__overlay"></div>
                                <div class="snipcart-modal__container snipcart-cart-summary--edit">
                                    <div class="snipcart-layout snipcart-modal">
                                        <div class="snipcart-test-banner">
                                            <div class="snipcart-test-banner__message">TEST MODE</div>
                                        </div><!---->
                                        <div
                                            class="snipcart-layout__content snipcart-layout__content--side snipcart-cart--edit">
                                            <div class="snipcart-cart__secondary-header">
                                                <h1
                                                    class="snipcart__font--secondary snipcart-cart__secondary-header-title snipcart__font--bold snipcart__font--xlarge">
                                                    Cart summary </h1><button><svg viewBox="0 0 64 64" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg" alt="Remove item"
                                                        title="Remove item"
                                                        class="snipcart__icon--medium snipcart__icon--angled snipcart__icon">
                                                        <path
                                                            d="M33.23 30.77H48v2.46H33.23V48h-2.46V33.23H16v-2.46h14.77V16h2.46v14.77z"
                                                            fill="currentColor"></path>
                                                    </svg></button>
                                            </div><!---->
                                            <section class="snipcart-cart__content">
                                                <ul
                                                    class="snipcart-item-list snipcart-scrollbar snipcart-item-list--no-shadow">
                                                    <li class="snipcart-item-line snipcart-item-line--cart-edit"
                                                        errors="function () { [native code] }"><!----><!---->
                                                        <div class="snipcart-item-line__container"><!---->
                                                            <div class="snipcart-item-line__product">
                                                                <div class="snipcart-item-line__header">
                                                                    <figure
                                                                        class="snipcart-item-line__media snipcart-item-line__media--small">
                                                                        <img src="/custom-windshield-banner-sun-strip/index/car-custom-text-windshield-banner.jpg"
                                                                            class="snipcart-item-line__image"></figure>
                                                                    <h2
                                                                        class="snipcart-item-line__title snipcart__font--xlarge snipcart__font--secondary snipcart__font--black">
                                                                        Custom Windshield Banner </h2><button
                                                                        aria-label="Remove item" title="Remove item"
                                                                        class="snipcart-button-icon is-danger"><svg
                                                                            viewBox="0 0 64 64" fill="none"
                                                                            xmlns="http://www.w3.org/2000/svg" alt=""
                                                                            title="" class="snipcart__icon">
                                                                            <path fill-rule="evenodd"
                                                                                clip-rule="evenodd"
                                                                                d="M22 4v6.47H12v3.236h40V10.47H42V4H22zm3.333 6.47V7.235H38.67v3.235H25.333zm20.001 9.707h3.333V59H15.334V20.177h3.333v35.588h26.667V20.177zm-15 29.116V23.412h3.334v25.881h-3.334z"
                                                                                fill="currentColor"></path>
                                                                        </svg></button>
                                                                </div>
                                                                <div class="snipcart-item-line__content">
                                                                    <div class="snipcart-item-line__body">
                                                                        <div class="snipcart-item-line__info">
                                                                            <p
                                                                                class="snipcart__font--std snipcart-item-description">
                                                                                Custom windshield banner with your own
                                                                                text. Will fit any car or truck. Variety
                                                                                of fonts and colors. Made from premium
                                                                                outdoor vinyls. </p>
                                                                        </div>
                                                                        <div class="snipcart-item-line__variants">
                                                                            <div><!---->
                                                                                <div
                                                                                    class="snipcart-item-custom-fields">
                                                                                    <div
                                                                                        class="snipcart-item-custom-fields__field snipcart-item-custom-fields--textbox">
                                                                                        <label
                                                                                            for="Your-banner-text_5da537ce-33ed-4290-879a-1c02a15e1664"
                                                                                            class="snipcart-form__label snipcart__font--tiny snipcart-custom-field-wrapper__label">
                                                                                            Your banner text
                                                                                            <!----></label>
                                                                                        <div
                                                                                            class="snipcart-custom-field-wrapper__input snipcart__font--secondary snipcart__font--std">
                                                                                            <div class="snipcart-input">
                                                                                                <!----><input
                                                                                                    type="text"
                                                                                                    id="Your-banner-text_5da537ce-33ed-4290-879a-1c02a15e1664"
                                                                                                    name="Your-banner-text"
                                                                                                    placeholder=""
                                                                                                    class="snipcart-input__input snipcart__font--secondary snipcart__font--bold">
                                                                                            </div><!---->
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="snipcart-item-custom-fields__field snipcart-dropdown-custom-field--standard snipcart-item-custom-fields--dropdown">
                                                                                        <label
                                                                                            for="Font_5da537ce-33ed-4290-879a-1c02a15e1664"
                                                                                            class="snipcart-form__label snipcart__font--tiny snipcart-custom-field-wrapper__label">
                                                                                            Font <!----></label>
                                                                                        <div
                                                                                            class="snipcart-custom-field-wrapper__input snipcart__font--secondary snipcart__font--std">
                                                                                            <div
                                                                                                class="snipcart-form__select-wrapper">
                                                                                                <select name="Font"
                                                                                                    id="Font_5da537ce-33ed-4290-879a-1c02a15e1664"
                                                                                                    class="snipcart-dropdown-custom-field snipcart-form__select snipcart__font--secondary snipcart__font--regular">
                                                                                                    <option
                                                                                                        value="Knight">
                                                                                                        Knight </option>
                                                                                                    <option
                                                                                                        value="Ulises">
                                                                                                        Ulises </option>
                                                                                                    <option
                                                                                                        value="Mentari">
                                                                                                        Mentari
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Marsek">
                                                                                                        Marsek </option>
                                                                                                    <option
                                                                                                        value="Lakeshore">
                                                                                                        Lakeshore
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Greycliff Heavy">
                                                                                                        Greycliff Heavy
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Quincy Black">
                                                                                                        Quincy Black
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Plicata">
                                                                                                        Plicata
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Bourton Outline">
                                                                                                        Bourton Outline
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Empera">
                                                                                                        Empera </option>
                                                                                                    <option
                                                                                                        value="Argon">
                                                                                                        Argon </option>
                                                                                                    <option
                                                                                                        value="Aurora Script">
                                                                                                        Aurora Script
                                                                                                    </option>
                                                                                                </select><svg
                                                                                                    viewBox="0 0 64 64"
                                                                                                    fill="none"
                                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                                    alt="" title=""
                                                                                                    class="snipcart__icon">
                                                                                                    <path
                                                                                                        d="M46.118 25L48 26.888 32 42.933 16 26.888 17.882 25 32 39.158 46.118 25z"
                                                                                                        fill="currentColor">
                                                                                                    </path>
                                                                                                </svg></div><!---->
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="snipcart-item-custom-fields__field snipcart-dropdown-custom-field--standard snipcart-item-custom-fields--dropdown">
                                                                                        <label
                                                                                            for="Text-color_5da537ce-33ed-4290-879a-1c02a15e1664"
                                                                                            class="snipcart-form__label snipcart__font--tiny snipcart-custom-field-wrapper__label">
                                                                                            Text color <!----></label>
                                                                                        <div
                                                                                            class="snipcart-custom-field-wrapper__input snipcart__font--secondary snipcart__font--std">
                                                                                            <div
                                                                                                class="snipcart-form__select-wrapper">
                                                                                                <select
                                                                                                    name="Text-color"
                                                                                                    id="Text-color_5da537ce-33ed-4290-879a-1c02a15e1664"
                                                                                                    class="snipcart-dropdown-custom-field snipcart-form__select snipcart__font--secondary snipcart__font--regular">
                                                                                                    <option
                                                                                                        value="White">
                                                                                                        White </option>
                                                                                                    <option
                                                                                                        value="Matte black">
                                                                                                        Matte black
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Glossy black">
                                                                                                        Glossy black
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Glossy mint">
                                                                                                        Glossy mint
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Glossy orange">
                                                                                                        Glossy orange
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Glossy pink">
                                                                                                        Glossy pink
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Glossy red">
                                                                                                        Glossy red
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Glossy blue">
                                                                                                        Glossy blue
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Silver">
                                                                                                        Silver </option>
                                                                                                    <option
                                                                                                        value="Gold">
                                                                                                        Gold </option>
                                                                                                    <option
                                                                                                        value="Rainbow">
                                                                                                        Rainbow
                                                                                                    </option>
                                                                                                </select><svg
                                                                                                    viewBox="0 0 64 64"
                                                                                                    fill="none"
                                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                                    alt="" title=""
                                                                                                    class="snipcart__icon">
                                                                                                    <path
                                                                                                        d="M46.118 25L48 26.888 32 42.933 16 26.888 17.882 25 32 39.158 46.118 25z"
                                                                                                        fill="currentColor">
                                                                                                    </path>
                                                                                                </svg></div><!---->
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="snipcart-item-quantity snipcart-item-line__quantity">
                                                                                <label
                                                                                    class="snipcart-item-quantity__label snipcart__font--tiny">
                                                                                    Quantity </label>
                                                                                <div
                                                                                    class="snipcart-item-quantity__quantity-price-container">
                                                                                    <div
                                                                                        class="snipcart-item-quantity__quantity snipcart__font--std">
                                                                                        <button
                                                                                            aria-label="Decrement quantity"
                                                                                            title="Decrement quantity"
                                                                                            class="snipcart-button-icon is-small is-secondary"><svg
                                                                                                viewBox="0 0 64 64"
                                                                                                fill="none"
                                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                                alt="" title=""
                                                                                                class="snipcart__icon">
                                                                                                <path
                                                                                                    d="M48 31H16v2.462h32V31z"
                                                                                                    fill="currentColor">
                                                                                                </path>
                                                                                            </svg></button><span
                                                                                            class="snipcart__font--secondary snipcart__font--regular">1</span><button
                                                                                            aria-label="Increment quantity"
                                                                                            title="Increment quantity"
                                                                                            class="snipcart-button-icon is-small is-secondary"><svg
                                                                                                viewBox="0 0 64 64"
                                                                                                fill="none"
                                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                                alt="" title=""
                                                                                                class="snipcart__icon">
                                                                                                <path
                                                                                                    d="M33.23 30.77H48v2.46H33.23V48h-2.46V33.23H16v-2.46h14.77V16h2.46v14.77z"
                                                                                                    fill="currentColor">
                                                                                                </path>
                                                                                            </svg></button></div>
                                                                                    <div
                                                                                        class="snipcart-item-quantity__total-price snipcart__font--bold snipcart__font--secondary">
                                                                                        $27.99 </div>
                                                                                </div>
                                                                            </div><!---->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="snipcart-cart__footer">
                                                    <div
                                                        class="snipcart-cart__footer-col cart__footer-discount-box snipcart-cart__actions">
                                                        <!----></div>
                                                    <div class="snipcart-cart__footer-col">
                                                        <div
                                                            class="snipcart-summary-fees snipcart-cart-summary-fees--reverse">
                                                            <!---->
                                                            <div class="snipcart-summary-fees"><!---->
                                                                <div
                                                                    class="snipcart-summary-fees__item snipcart__font--slim">
                                                                    <span
                                                                        class="snipcart-summary-fees__title">Subtotal</span><span
                                                                        class="snipcart-summary-fees__amount">$27.99</span>
                                                                </div>
                                                                <div
                                                                    class="snipcart-summary-fees__item snipcart__font--slim">
                                                                    <span
                                                                        class="snipcart-summary-fees__title">Shipping</span><span
                                                                        class="snipcart-summary-fees__amount">$4.20</span>
                                                                </div><!---->
                                                                <div
                                                                    class="snipcart-summary-fees__item snipcart-summary-fees__total snipcart__font--bold snipcart__font--secondary">
                                                                    <span
                                                                        class="snipcart-summary-fees__title snipcart-summary-fees__title--highlight snipcart__font--large">Total</span><span
                                                                        class="snipcart-summary-fees__amount snipcart-summary-fees__amount--highlight snipcart__font--large">$32.19</span>
                                                                </div>
                                                            </div>
                                                        </div><!---->
                                                        <div class="snipcart-cart__featured-payment-methods-container">
                                                            <!----></div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div><!---->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!---->
        </div>
    </div>
</div>