<div id="snipcart" class="snipcart">
    <div class="snipcart-modal__container">
        <div class="snipcart-layout snipcart-modal">
            <div class="snipcart-test-banner">
                <div class="snipcart-test-banner__message">TEST MODE</div>
            </div>
            <header class="snipcart-cart-header"><button
                    class="snipcart-cart-header__close-button snipcart-modal__close"><svg viewBox="0 0 64 64"
                        fill="none" xmlns="http://www.w3.org/2000/svg" alt="" title=""
                        class="snipcart-modal__close-icon snipcart__icon">
                        <path
                            d="M12.636 30.158H58v3.423H12.372l9.148 9.055L19.132 45 6 32l13.132-13 2.388 2.364-8.884 8.794z"
                            fill="currentColor"></path>
                    </svg><span class="snipcart-modal__close-title snipcart__font--std"> Continue shopping
                    </span></button>
                <div>
                    <h3 class="snipcart-cart-header__title snipcart__font--black snipcart__font--secondary"> Cart
                        summary </h3>
                </div>
                <div class="snipcart-cart-header__options"><!----><!----><!----><button
                        class="snipcart-cart-header__option snipcart-cart-header__count snipcart__font--secondary snipcart__font--bold"><svg
                            viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg" alt="" title=""
                            class="snipcart-cart-header__icon snipcart__icon">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M51.714 20.47L55 60H9l3.286-39.53h9.857v-6.588C22.143 8.424 26.556 4 32 4c5.444 0 9.857 4.424 9.857 9.882v6.589h9.857zM25.43 13.883v16.47h-3.286v-6.587H15.31l-2.737 32.94h38.856l-2.737-32.94h-6.834v6.588h-3.286v-16.47c0-3.634-2.947-6.589-6.571-6.589-3.624 0-6.571 2.955-6.571 6.588zm3.285 9.883V20.47h6.572v3.294h-6.572z"
                                fill="currentColor"></path>
                        </svg> 2 </button><!----></div>
            </header>
            <div class="snipcart-layout__content"><!----><!---->
                <section class="snipcart-cart__content">
                    <ul class="snipcart-item-list snipcart-scrollbar snipcart-item-list--no-shadow">
                        <li class="snipcart-item-line" errors="function () { [native code] }"><!----><!---->
                            <div class="snipcart-item-line__container">
                                <figure class="snipcart-item-line__media"><img
                                        src="/custom-windshield-banner-sun-strip/index/car-custom-text-windshield-banner.jpg"
                                        class="snipcart-item-line__image"></figure>
                                <div class="snipcart-item-line__product">
                                    <div class="snipcart-item-line__header"><!---->
                                        <h2
                                            class="snipcart-item-line__title snipcart__font--xlarge snipcart__font--secondary snipcart__font--black">
                                            Custom Windshield Banner </h2><button aria-label="Remove item"
                                            title="Remove item" class="snipcart-button-icon is-danger"><svg
                                                viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                alt="" title="" class="snipcart__icon">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M22 4v6.47H12v3.236h40V10.47H42V4H22zm3.333 6.47V7.235H38.67v3.235H25.333zm20.001 9.707h3.333V59H15.334V20.177h3.333v35.588h26.667V20.177zm-15 29.116V23.412h3.334v25.881h-3.334z"
                                                    fill="currentColor"></path>
                                            </svg></button>
                                    </div>
                                    <div class="snipcart-item-line__content">
                                        <div class="snipcart-item-line__body">
                                            <div class="snipcart-item-line__info">
                                                <p class="snipcart__font--std snipcart-item-description"> Custom
                                                    windshield banner with your own text. Will fit any car or truck.
                                                    Variety of fonts and colors. Made from premium outdoor vinyls. </p>
                                            </div>
                                            <div class="snipcart-item-line__variants">
                                                <div><!---->
                                                    <div class="snipcart-item-custom-fields">
                                                        <div
                                                            class="snipcart-item-custom-fields__field snipcart-item-custom-fields--textbox">
                                                            <label
                                                                for="Your-banner-text_c8624ad0-5c19-49a6-9a0e-ce69531db3d7"
                                                                class="snipcart-form__label snipcart__font--tiny snipcart-custom-field-wrapper__label">
                                                                Your banner text <!----></label>
                                                            <div
                                                                class="snipcart-custom-field-wrapper__input snipcart__font--secondary snipcart__font--std">
                                                                <div class="snipcart-input"><!----><input type="text"
                                                                        id="Your-banner-text_c8624ad0-5c19-49a6-9a0e-ce69531db3d7"
                                                                        name="Your-banner-text" placeholder=""
                                                                        class="snipcart-input__input snipcart__font--secondary snipcart__font--bold">
                                                                </div><!---->
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="snipcart-item-custom-fields__field snipcart-dropdown-custom-field--standard snipcart-item-custom-fields--dropdown">
                                                            <label for="Font_c8624ad0-5c19-49a6-9a0e-ce69531db3d7"
                                                                class="snipcart-form__label snipcart__font--tiny snipcart-custom-field-wrapper__label">
                                                                Font <!----></label>
                                                            <div
                                                                class="snipcart-custom-field-wrapper__input snipcart__font--secondary snipcart__font--std">
                                                                <div class="snipcart-form__select-wrapper"><select
                                                                        name="Font"
                                                                        id="Font_c8624ad0-5c19-49a6-9a0e-ce69531db3d7"
                                                                        class="snipcart-dropdown-custom-field snipcart-form__select snipcart__font--secondary snipcart__font--regular">
                                                                        <option value="Knight"> Knight </option>
                                                                        <option value="Ulises"> Ulises </option>
                                                                        <option value="Mentari"> Mentari </option>
                                                                        <option value="Marsek"> Marsek </option>
                                                                        <option value="Lakeshore"> Lakeshore </option>
                                                                        <option value="Greycliff Heavy"> Greycliff Heavy
                                                                        </option>
                                                                        <option value="Quincy Black"> Quincy Black
                                                                        </option>
                                                                        <option value="Plicata"> Plicata </option>
                                                                        <option value="Bourton Outline"> Bourton Outline
                                                                        </option>
                                                                        <option value="Empera"> Empera </option>
                                                                        <option value="Argon"> Argon </option>
                                                                        <option value="Aurora Script"> Aurora Script
                                                                        </option>
                                                                    </select><svg viewBox="0 0 64 64" fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg" alt=""
                                                                        title="" class="snipcart__icon">
                                                                        <path
                                                                            d="M46.118 25L48 26.888 32 42.933 16 26.888 17.882 25 32 39.158 46.118 25z"
                                                                            fill="currentColor"></path>
                                                                    </svg></div><!---->
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="snipcart-item-custom-fields__field snipcart-dropdown-custom-field--standard snipcart-item-custom-fields--dropdown">
                                                            <label for="Text-color_c8624ad0-5c19-49a6-9a0e-ce69531db3d7"
                                                                class="snipcart-form__label snipcart__font--tiny snipcart-custom-field-wrapper__label">
                                                                Text color <!----></label>
                                                            <div
                                                                class="snipcart-custom-field-wrapper__input snipcart__font--secondary snipcart__font--std">
                                                                <div class="snipcart-form__select-wrapper"><select
                                                                        name="Text-color"
                                                                        id="Text-color_c8624ad0-5c19-49a6-9a0e-ce69531db3d7"
                                                                        class="snipcart-dropdown-custom-field snipcart-form__select snipcart__font--secondary snipcart__font--regular">
                                                                        <option value="White"> White </option>
                                                                        <option value="Matte black"> Matte black
                                                                        </option>
                                                                        <option value="Glossy black"> Glossy black
                                                                        </option>
                                                                        <option value="Glossy mint"> Glossy mint
                                                                        </option>
                                                                        <option value="Glossy orange"> Glossy orange
                                                                        </option>
                                                                        <option value="Glossy pink"> Glossy pink
                                                                        </option>
                                                                        <option value="Glossy red"> Glossy red </option>
                                                                        <option value="Glossy blue"> Glossy blue
                                                                        </option>
                                                                        <option value="Silver"> Silver </option>
                                                                        <option value="Gold"> Gold </option>
                                                                        <option value="Rainbow"> Rainbow </option>
                                                                    </select><svg viewBox="0 0 64 64" fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg" alt=""
                                                                        title="" class="snipcart__icon">
                                                                        <path
                                                                            d="M46.118 25L48 26.888 32 42.933 16 26.888 17.882 25 32 39.158 46.118 25z"
                                                                            fill="currentColor"></path>
                                                                    </svg></div><!---->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="snipcart-item-quantity snipcart-item-line__quantity"><label
                                                        class="snipcart-item-quantity__label snipcart__font--tiny">
                                                        Quantity </label>
                                                    <div class="snipcart-item-quantity__quantity-price-container">
                                                        <div
                                                            class="snipcart-item-quantity__quantity snipcart__font--std">
                                                            <button aria-label="Decrement quantity"
                                                                title="Decrement quantity"
                                                                class="snipcart-button-icon is-small is-secondary"><svg
                                                                    viewBox="0 0 64 64" fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg" alt="" title=""
                                                                    class="snipcart__icon">
                                                                    <path d="M48 31H16v2.462h32V31z"
                                                                        fill="currentColor"></path>
                                                                </svg></button><span
                                                                class="snipcart__font--secondary snipcart__font--regular">1</span><button
                                                                aria-label="Increment quantity"
                                                                title="Increment quantity"
                                                                class="snipcart-button-icon is-small is-secondary"><svg
                                                                    viewBox="0 0 64 64" fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg" alt="" title=""
                                                                    class="snipcart__icon">
                                                                    <path
                                                                        d="M33.23 30.77H48v2.46H33.23V48h-2.46V33.23H16v-2.46h14.77V16h2.46v14.77z"
                                                                        fill="currentColor"></path>
                                                                </svg></button></div>
                                                        <div
                                                            class="snipcart-item-quantity__total-price snipcart__font--bold snipcart__font--secondary">
                                                            $27.99 </div>
                                                    </div>
                                                </div><!---->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="snipcart-item-line" errors="function () { [native code] }"><!----><!---->
                            <div class="snipcart-item-line__container">
                                <figure class="snipcart-item-line__media"><img
                                        src="/custom-windshield-banner-sun-strip/index/car-custom-text-windshield-banner.jpg"
                                        class="snipcart-item-line__image"></figure>
                                <div class="snipcart-item-line__product">
                                    <div class="snipcart-item-line__header"><!---->
                                        <h2
                                            class="snipcart-item-line__title snipcart__font--xlarge snipcart__font--secondary snipcart__font--black">
                                            Custom Windshield Banner </h2><button aria-label="Remove item"
                                            title="Remove item" class="snipcart-button-icon is-danger"><svg
                                                viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                alt="" title="" class="snipcart__icon">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M22 4v6.47H12v3.236h40V10.47H42V4H22zm3.333 6.47V7.235H38.67v3.235H25.333zm20.001 9.707h3.333V59H15.334V20.177h3.333v35.588h26.667V20.177zm-15 29.116V23.412h3.334v25.881h-3.334z"
                                                    fill="currentColor"></path>
                                            </svg></button>
                                    </div>
                                    <div class="snipcart-item-line__content">
                                        <div class="snipcart-item-line__body">
                                            <div class="snipcart-item-line__info">
                                                <p class="snipcart__font--std snipcart-item-description"> Custom
                                                    windshield banner with your own text. Will fit any car or truck.
                                                    Variety of fonts and colors. Made from premium outdoor vinyls. </p>
                                            </div>
                                            <div class="snipcart-item-line__variants">
                                                <div><!---->
                                                    <div class="snipcart-item-custom-fields">
                                                        <div
                                                            class="snipcart-item-custom-fields__field snipcart-item-custom-fields--textbox">
                                                            <label
                                                                for="Your-banner-text_15cb58a3-91aa-490f-ac4b-cd3706da71ae"
                                                                class="snipcart-form__label snipcart__font--tiny snipcart-custom-field-wrapper__label">
                                                                Your banner text <!----></label>
                                                            <div
                                                                class="snipcart-custom-field-wrapper__input snipcart__font--secondary snipcart__font--std">
                                                                <div class="snipcart-input"><!----><input type="text"
                                                                        id="Your-banner-text_15cb58a3-91aa-490f-ac4b-cd3706da71ae"
                                                                        name="Your-banner-text" placeholder=""
                                                                        class="snipcart-input__input snipcart__font--secondary snipcart__font--bold">
                                                                </div><!---->
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="snipcart-item-custom-fields__field snipcart-dropdown-custom-field--standard snipcart-item-custom-fields--dropdown">
                                                            <label for="Font_15cb58a3-91aa-490f-ac4b-cd3706da71ae"
                                                                class="snipcart-form__label snipcart__font--tiny snipcart-custom-field-wrapper__label">
                                                                Font <!----></label>
                                                            <div
                                                                class="snipcart-custom-field-wrapper__input snipcart__font--secondary snipcart__font--std">
                                                                <div class="snipcart-form__select-wrapper"><select
                                                                        name="Font"
                                                                        id="Font_15cb58a3-91aa-490f-ac4b-cd3706da71ae"
                                                                        class="snipcart-dropdown-custom-field snipcart-form__select snipcart__font--secondary snipcart__font--regular">
                                                                        <option value="Knight"> Knight </option>
                                                                        <option value="Ulises"> Ulises </option>
                                                                        <option value="Mentari"> Mentari </option>
                                                                        <option value="Marsek"> Marsek </option>
                                                                        <option value="Lakeshore"> Lakeshore </option>
                                                                        <option value="Greycliff Heavy"> Greycliff Heavy
                                                                        </option>
                                                                        <option value="Quincy Black"> Quincy Black
                                                                        </option>
                                                                        <option value="Plicata"> Plicata </option>
                                                                        <option value="Bourton Outline"> Bourton Outline
                                                                        </option>
                                                                        <option value="Empera"> Empera </option>
                                                                        <option value="Argon"> Argon </option>
                                                                        <option value="Aurora Script"> Aurora Script
                                                                        </option>
                                                                    </select><svg viewBox="0 0 64 64" fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg" alt=""
                                                                        title="" class="snipcart__icon">
                                                                        <path
                                                                            d="M46.118 25L48 26.888 32 42.933 16 26.888 17.882 25 32 39.158 46.118 25z"
                                                                            fill="currentColor"></path>
                                                                    </svg></div><!---->
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="snipcart-item-custom-fields__field snipcart-dropdown-custom-field--standard snipcart-item-custom-fields--dropdown">
                                                            <label for="Text-color_15cb58a3-91aa-490f-ac4b-cd3706da71ae"
                                                                class="snipcart-form__label snipcart__font--tiny snipcart-custom-field-wrapper__label">
                                                                Text color <!----></label>
                                                            <div
                                                                class="snipcart-custom-field-wrapper__input snipcart__font--secondary snipcart__font--std">
                                                                <div class="snipcart-form__select-wrapper"><select
                                                                        name="Text-color"
                                                                        id="Text-color_15cb58a3-91aa-490f-ac4b-cd3706da71ae"
                                                                        class="snipcart-dropdown-custom-field snipcart-form__select snipcart__font--secondary snipcart__font--regular">
                                                                        <option value="White"> White </option>
                                                                        <option value="Matte black"> Matte black
                                                                        </option>
                                                                        <option value="Glossy black"> Glossy black
                                                                        </option>
                                                                        <option value="Glossy mint"> Glossy mint
                                                                        </option>
                                                                        <option value="Glossy orange"> Glossy orange
                                                                        </option>
                                                                        <option value="Glossy pink"> Glossy pink
                                                                        </option>
                                                                        <option value="Glossy red"> Glossy red </option>
                                                                        <option value="Glossy blue"> Glossy blue
                                                                        </option>
                                                                        <option value="Silver"> Silver </option>
                                                                        <option value="Gold"> Gold </option>
                                                                        <option value="Rainbow"> Rainbow </option>
                                                                    </select><svg viewBox="0 0 64 64" fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg" alt=""
                                                                        title="" class="snipcart__icon">
                                                                        <path
                                                                            d="M46.118 25L48 26.888 32 42.933 16 26.888 17.882 25 32 39.158 46.118 25z"
                                                                            fill="currentColor"></path>
                                                                    </svg></div><!---->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="snipcart-item-quantity snipcart-item-line__quantity"><label
                                                        class="snipcart-item-quantity__label snipcart__font--tiny">
                                                        Quantity </label>
                                                    <div class="snipcart-item-quantity__quantity-price-container">
                                                        <div
                                                            class="snipcart-item-quantity__quantity snipcart__font--std">
                                                            <button aria-label="Decrement quantity"
                                                                title="Decrement quantity"
                                                                class="snipcart-button-icon is-small is-secondary"><svg
                                                                    viewBox="0 0 64 64" fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg" alt="" title=""
                                                                    class="snipcart__icon">
                                                                    <path d="M48 31H16v2.462h32V31z"
                                                                        fill="currentColor"></path>
                                                                </svg></button><span
                                                                class="snipcart__font--secondary snipcart__font--regular">1</span><button
                                                                aria-label="Increment quantity"
                                                                title="Increment quantity"
                                                                class="snipcart-button-icon is-small is-secondary"><svg
                                                                    viewBox="0 0 64 64" fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg" alt="" title=""
                                                                    class="snipcart__icon">
                                                                    <path
                                                                        d="M33.23 30.77H48v2.46H33.23V48h-2.46V33.23H16v-2.46h14.77V16h2.46v14.77z"
                                                                        fill="currentColor"></path>
                                                                </svg></button></div>
                                                        <div
                                                            class="snipcart-item-quantity__total-price snipcart__font--bold snipcart__font--secondary">
                                                            $27.99 </div>
                                                    </div>
                                                </div><!---->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="snipcart-cart__footer">
                        <div class="snipcart-cart__footer-col cart__footer-discount-box snipcart-cart__actions"><!---->
                        </div>
                        <div class="snipcart-cart__footer-col">
                            <div class="snipcart-summary-fees snipcart-cart-summary-fees--reverse"><!---->
                                <div class="snipcart-summary-fees"><!---->
                                    <div class="snipcart-summary-fees__item snipcart__font--slim"><span
                                            class="snipcart-summary-fees__title">Subtotal</span><span
                                            class="snipcart-summary-fees__amount">$55.98</span></div><!----><!---->
                                    <div
                                        class="snipcart-summary-fees__item snipcart-summary-fees__total snipcart__font--bold snipcart__font--secondary">
                                        <span
                                            class="snipcart-summary-fees__title snipcart-summary-fees__title--highlight snipcart__font--large">Total</span><span
                                            class="snipcart-summary-fees__amount snipcart-summary-fees__amount--highlight snipcart__font--large">$55.98</span>
                                    </div>
                                </div>
                            </div>
                            <footer class="snipcart-cart__footer-buttons"><!----><button type="button"
                                    class="snipcart-button-primary snipcart-base-button is-icon-right">
                                    <div class="snipcart-base-button__wrapper">
                                        <div class="snipcart-base-button__label"> Checkout </div>
                                        <div class="snipcart-base-button__icon"><svg viewBox="0 0 64 64" fill="none"
                                                xmlns="http://www.w3.org/2000/svg" alt="" title=""
                                                class="snipcart__icon">
                                                <path
                                                    d="M51.364 30.158H6v3.423h45.628l-9.148 9.055L44.868 45 58 32 44.868 19l-2.388 2.364 8.884 8.794z"
                                                    fill="currentColor"></path>
                                            </svg></div>
                                    </div>
                                </button><!----></footer>
                            <div class="snipcart-cart__featured-payment-methods-container">
                                <div class="snipcart-featured-payment-methods">
                                    <h3
                                        class="snipcart__font--secondary snipcart__font--bold  snipcart-featured-payment-methods__title">
                                        <a href="https://snipcart.com/security?utm_source=cart_referral&amp;utm_medium=powered_by&amp;utm_campaign=powered_by_ref&amp;utm_term=awesome-golick-927444.netlify.com"
                                            target="_blank" rel="nofollow noopener"
                                            class="snipcart-featured-payment-methods__link"><svg viewBox="0 0 64 64"
                                                fill="none" xmlns="http://www.w3.org/2000/svg" alt="" title=""
                                                class="snipcart-featured-payment-methods__title-icon snipcart__icon">
                                                <path
                                                    d="M16.615 23.765v-4.942C16.615 10.637 23.28 4 31.5 4c8.22 0 14.885 6.637 14.885 14.823v4.942H53V60H10V23.765h6.615zm0 3.294h-3.307v29.647h36.384V27.059H16.615zm13.231 9.882h3.308v9.883h-3.308V36.94zm-9.923-13.176h23.154v-4.942c0-6.367-5.183-11.529-11.577-11.529s-11.577 5.162-11.577 11.53v4.94z"
                                                    fill="currentColor"></path>
                                            </svg> Secured by Snipcart </a></h3>
                                    <ul class="snipcart-featured-payment-methods__list">
                                        <li class="snipcart-featured-payment-methods__list-item"><svg
                                                viewBox="0 0 174 56" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                alt="Visa" title="Visa" class="snipcart__icon--brand snipcart__icon">
                                                <path
                                                    d="M74.98 55.192H60.965L69.73.982h14.016l-8.766 54.21zm50.813-52.884C123.028 1.21 118.643 0 113.221 0c-13.842 0-23.59 7.381-23.65 17.934-.114 7.786 6.98 12.111 12.285 14.707 5.423 2.653 7.267 4.385 7.267 6.75-.056 3.63-4.382 5.305-8.418 5.305-5.596 0-8.595-.863-13.151-2.884l-1.846-.866-1.962 12.169c3.288 1.498 9.345 2.827 15.633 2.885 14.707 0 24.282-7.267 24.396-18.513.056-6.171-3.69-10.9-11.766-14.764-4.902-2.48-7.905-4.152-7.905-6.69.058-2.307 2.54-4.67 8.074-4.67 4.557-.116 7.905.98 10.441 2.075l1.268.576 1.906-11.706zm18.63 33.68c1.154-3.114 5.596-15.168 5.596-15.168-.058.116 1.152-3.171 1.844-5.19l.98 4.672s2.654 12.976 3.23 15.686h-11.65zM161.725.983h-10.842c-3.344 0-5.884.98-7.326 4.498l-20.821 49.71h14.708l2.942-8.131h17.996a2177.47 2177.47 0 011.673 8.132h12.978L161.725.982zm-112.468 0L35.529 37.949l-1.5-7.497C31.491 21.8 23.532 12.401 14.65 7.729l12.574 47.406h14.822L64.078.983H49.256z"
                                                    fill="#00579F"></path>
                                                <path
                                                    d="M22.782.983H.232L0 2.078C17.592 6.577 29.242 17.42 34.03 30.454L29.126 5.54c-.807-3.463-3.288-4.443-6.345-4.557z"
                                                    fill="#FAA61A"></path>
                                            </svg></li>
                                        <li class="snipcart-featured-payment-methods__list-item"><svg
                                                viewBox="0 0 104 64" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                alt="Mastercard" title="Mastercard"
                                                class="snipcart__icon--brand snipcart__icon">
                                                <path d="M67.173 6.842H36.37v50.31h30.803V6.842z" fill="#FF5F00"></path>
                                                <path
                                                    d="M39.543 32.002a31.939 31.939 0 0112.22-25.15 31.994 31.994 0 100 50.31 31.939 31.939 0 01-12.22-25.16z"
                                                    fill="#EB001B"></path>
                                                <path
                                                    d="M103.53 32.002a31.991 31.991 0 01-35.41 31.81 31.994 31.994 0 01-16.357-6.66 31.992 31.992 0 000-50.31 31.994 31.994 0 0151.767 25.151v.009z"
                                                    fill="#F79E1B"></path>
                                            </svg></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div><!---->
        </div>
    </div>
</div>