<div class="container">
  <div class="row justify-content-center js--posts-filter-container">
    <% var sort = (typeof sortBy !== 'undefined') ? sortBy : 'date'; %>
    <% site.categories.findOne({name: categoryName}).posts.sort(sort, 1).each(function(post, i){ %>
      <%- partial('partial/card', { post: post }) %>
    <% }) %>
  </div>
</div>
