<div class="container">
  <div class="row justify-content-center">
    <% site.categories.findOne({name: categoryName}).posts.sort('date', 1).each(function(post, i){ %>
      <%- partial('partial/card', { post: post }) %>
    <% }) %>
  </div>
</div>
