<div class="container">
  <div class="row justify-content-center js--posts-filter-container">
    <% var sortOrder = (typeof sortBy !== 'undefined') ? sortBy : 'date'; %>
    <% // can be 'date', 'title' %>
    <% site.categories.findOne({name: categoryName}).posts.sort(sortOrder, (typeof order == 'string' && order == 'desc') ? -1 : 1).each(function(post, i){ %>
      <% if (!post.no_display || (post.no_display && post.no_display == false)){ %>
        <%- partial('partial/card-with-carousel', { post: post }) %>
      <% } %>
    <% }) %>
  </div>
</div>
