<% if(config.facebook_chat){ %>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat" page_id="376346382812240" attribution="biz_inbox"></div>

    <!-- Your SDK code - in scripts.ejs -->
<% } %>