<% if(config.facebook_chat){ %>
<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "376346382812240");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>
<% } %>