<% if(config.facebook_chat){ %>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script class="fb-first-script">
        window.fbAsyncInit = function() {
            FB.init({
            xfbml            : true,
            version          : 'v5.0'
            });
        };

        (function(d, s, id) {
            // Petr Stepanov: instead of getting first script we get script with class 'fb-first-script'
            var js, fjs = d.getElementsByClassName('fb-first-script')[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="376346382812240" theme_color="#008ac9" minimized="true"></div>
<% } %>