<div class="container pb-2 mb-4">
  <div class="row justify-content-center bar">
    <% if (title) { %>
      <h2 class="col-12 col-md-10 text-center" <%- name ? 'id="' + name + '"' : '' %>>
        <%- title %>
      </h2>
    <% } %>
    <% if (typeof subtitle == 'string' && subtitle.length > 0) { %>
      <p class="col-12 col-md-10 text-body-secondary text-center">
        <%- subtitle %>
      </p>
    <% } %>
  </div>
</div>
