<nav class="navbar navbar-blueberry js--init-navbar-fixer js--navbar-blueberry transparent" data-max-fixed-width="992">
  <div class="container">
    <a class="back-link icon-sm js--init-back-button" href="/">
      <%- partial('ionicons/md-arrow-back.svg') %> <span class="ml-1 js--label">Browse all stickers</span>
    </a>
    <div class="form-inline d-lg-none navbar-buy-button js--init-navbar-buy-button">        
      <button type="submit" form="cart-form" class="btn btn-sm btn-blueberry btn-primary js--product-submit" data-base-caption="" data-base-price="<%- parseFloat(product.price) %>">$<%- parseFloat(product.price) %></button>
    </div>
    <button class="btn ml-2 px-0 py-0 snipcart-checkout icon-md">
      <%- partial('ionicons/ios-cart.svg') %>
      <span class="snipcart-items-count"></span>
    </button>
  </div>
</nav>
