<nav class="navbar navbar-blueberry js--init-navbar-fixer js--navbar-blueberry transparent" data-max-fixed-width="992">
  <div class="container">
    <a class="back-link icon-sm" href="/">
      <%- partial('ionicons/md-arrow-back.svg') %> <span class="ml-1">Browse all stickers
    </a>
    <div class="form-inline d-lg-none navbar-buy-button js--init-navbar-buy-button">        
      <a href="<%- post.ebay_url %>" target="_blank" class="btn btn-blueberry btn-primary btn-sm" role="button">Add to cart · $<%- product.price %></a>
    </div>
  </div>
</nav>
