<nav class="navbar fixed-top navbar-blueberry navbar-expand-md navbar-light js--init-navbar-fixer <%- typeof className !== 'undefined' ? className : ''; %>" id="navbar-spy" data-max-fixed-width="10000">
  <div class="container">
    <a class="navbar-brand" href="/">
      <% if (theme.logo){ %>
        <img src="<%- theme.logo %>" class="logo-image" alt="Bimmer Sticker Store logo">
      <% } %>
      <% if (config.title){ %>
        <span class="d-none"><%- config.title %></span>
      <% } %>
    </a>
    <!-- Grow element -->
    <div class="flex-grow-1 text-right"></div>
    <!-- Hamburger, cart and collapse elements -->
    <%- partial('partial/navbar-hamburger-cart-collapse') %>
  </div>
</nav>
