<h2>Customize it!</h2>

<p>Want custom stuff? Maybe a car squad logo for friends or a window sticker for your significant other’s car?</p>
<p>We accept orders for matte, holographic, gold and silver stickers too. Notice that it might take us some extra time to order a specific roll of vinyl.</p>

<% if (theme.email){ %>
  <a href="mailto:<%- theme.email %>">Email us for custom order</a>
<% } %>
