<h2>Customize it!</h2>

<p>Want custom stuff? Maybe a car squad logo for friends or a window sticker for your significant other’s car?</p>
<p>We accept orders for matte, holographic, gold and silver stickers too. Note that it might take us some extra time to order a specific roll of vinyl.</p>

<% if (theme.email && theme.instagram_url){ %>
  <p>To place a custom order please <a href="mailto:<%- theme.email %>">shoot us an email</a> or direct message on <a href="<%- theme.instagram_url %>" rel="me">Instagram</a>.</p>
<% } %>
