<% if(config.snipcart){ %>    
    <% if (process.env.SNIPCART_API_KEY){ %>
        <div id="snipcart" data-api-key="<%- process.env.SNIPCART_API_KEY %>" hidden></div>    
    <% } %>
    <script src="https://cdn.snipcart.com/themes/v3.0.8/default/snipcart.js"></script>    
<% } %>