<% if(config.cart == "snipcart"){ %>    
    <% if (process && process.env && process.env.SNIPCART_API_KEY){ %>
        <div hidden id="snipcart" data-api-key="<%- process.env.SNIPCART_API_KEY %>"  data-config-add-product-behavior=""></div>
    <% } %>
<% } %>