.snipcart {
    font-family: $font-regular;
    font-size: inherit;
    font-weight: normal;
    color: inherit;
}

.snipcart__font--secondary { //}, .snipcart__font--subtitle {
    font-family: $font-bold;
}

.snipcart-item-line__title {
    font-family: $font-display;
}

.snipcart__font--std {
    font-family: $font-regular;
}

.snipcart-item-line__media--small {
    margin-right: 1rem;
}

.snipcart-item-line__variants label {
    @extend .label;
    margin-top: 1.5rem;
}

// Back to shopping link {
.snipcart-modal__close-title {
    font-family: $font-bold !important;
    color: $blue;
}

// Snipcart modal
.snipcart-modal__container, .snipcart-modal, .snipcart-cart-header, .snipcart-cart__content, .snipcart-payment-methods__title {
    background-color: $indigo;
}

// Item container
.snipcart-item-line {
    padding: 15px;
    box-shadow: none;

    @include media-breakpoint-up(sm){
        padding: 32px;
    }
}

// Description
.snipcart-item-line__info {
    display: none;
}

// Select field
.snipcart-form__select, .snipcart-form-input {
    padding: 0 1rem;
    height: 2.75rem;
    font-family: $font-regular !important;
}

// Quantity field
.snipcart-item-quantity__quantity {
    height: 2.75rem;
}

// Discount conteiner
.cart__footer-discount-box {
    display: none;
}

// Checkout button
.snipcart-cart-button {
    padding: 0 1rem;
    border-radius: 10rem;
    height: 2.75rem;
}

.snipcart-cart-button--highlight {
    background-image: none;
    background-color: $blue;
}
// Misc margins for fields

.snipcart-item-custom-fields__field {
    margin-bottom: 0;
}

.snipcart-item-line__variants {
    padding-top: 0;
}