// GLOBAL AND LAYOUT OVERRIDES

.snipcart * {
    font-family: $font-regular;
    font-size: inherit;
    font-weight: normal;
    color: inherit;
    line-height: inherit;
}

// Snipcart font overrides
.snipcart__font--std {
    font-size: inherit;
    font-family: $font-regular;
}

.snipcart__font--bold, .snipcart__font--bold * {
    font-family: $font-bold;
}

.snipcart__font--black, .snipcart__font--subtitle {
    font-family: $font-bold;
    font-weight: normal;
}

.snipcart__font--large {
    font-size: $font-size-21;
}

.snipcart__font--xlarge {
    font-size: $font-size-21;
}

// Snipcart icon colors
.snipcart__icon--blue-light path, .snipcart__icon--blue-dark path {
    fill: $link-color;
}

// Snipcart modal
.snipcart-modal__container {
    z-index: 2147483650;   // Show over facebook dialog
    // iPhone scroll - have white top and blue bottom background
    background-image: linear-gradient(white 50%, $indigo 50%);
    background-color: white;
}

.snipcart-modal {
    // Make modal background indigo
    background-color: $indigo;
}

// Snipcart header - match with height of the website header
.snipcart-cart-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    // Make header white color with shadow
    background-color: white;
    box-shadow: 0 0.25rem 0.25rem 0 rgba($blue, 0.1);

    // Add rounded cornens for larger resolutions
    @include media-breakpoint-up(sm){
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    // Copy styling from .navbar-blueberry to match its height
    button {
        margin: 0.825rem 0;

        @include media-breakpoint-up(md){
          margin: 1rem 0;
        }

        height: $nb-logo-size;
        @include media-breakpoint-up(sm) {
            height: $nb-logo-size-bigger;
        }
        @include media-breakpoint-up(md) {
            height: $nb-logo-size-biggest;
        }    
    }

    // Always show "Continue Shopping" label
    .snipcart-modal__close-title {
        display: block !important;
        line-height: inherit;
    }

    // Make "Continue Shopping" label blue
    .snipcart-cart-header__close-button * {
        color: $link-color;
    }

    // Font for final item vlue in header too big, plus fixing icon padding
    .snipcart-modal__header-summary {
        .snipcart__font--large {
            font-size: 1rem;
        }

        span {
            margin-left: 0.5rem;
        }
    }

    // Make header items centered and fit horizontally
    justify-content: space-between;

    .snipcart-cart-header__close-button, .snipcart-cart-header__options {
        flex: 0 1 auto;
    }

}

// Header was vertically shrinked if snipcart-layout's height is 100%
.snipcart-layout {
    height: auto;
}

// Background colors
.snipcart-cart__content {
    background-color: $indigo;
}

// "Secured by Snipcart" label background fix
.snipcart-featured-payment-methods__title {
    background-color: $indigo;
}

// Make "Checkout" button visible when scrolling to the bottom with the iPhone keyboard on
.snipcart-featured-payment-methods {
    margin-bottom: 7rem;
}

// Cart summary - confusing step. Remove editing cart summary from cart summary.
.snipcart-cart-summary { 
    box-shadow: 0 0.25rem 0.25rem 0 rgba($blue, 0.1);

    .snipcart-cart-summary__actions.snipcart__box--header, .snipcart-cart-summary__footer { 
        display: none;
    }

    .snipcart-cart-summary-fees__total {
        padding-top: 1.5rem;
    }
}


// CART SCREEN

// Shopping item container
.snipcart-item-line {
    padding: 1rem;
    margin: 1rem;
    box-shadow: none;
    border-radius: 0.5rem;

    @include media-breakpoint-up(sm){
        padding: 2rem;
        margin: 0 0 2rem 0;
    }

    // Remove excess padding and margin 
    .snipcart-item-line__container {
        padding: 0;
        margin: 0;

        // Item title container
        .snipcart-item-line__header {
            margin-bottom: 0.5rem;

            // Set display font for the item heading
            .snipcart-item-line__title {
                font-family: $font-display;
            }    

            // Remove weird border on Delere icon (trash bin)
            .snipcart__button--icon {
                border: 0;
            }
        }
        
        // Hide item description
        .snipcart-item-line__info {
            display: none;
        }

        // Item variations
        .snipcart-item-line__variants {
            padding-top: 0;
            
            label {
                @extend .label;
                margin-top: 1rem;
            }
        }     
    }
}


// FORM FIELDS

%input-field {
    box-shadow: 0 2px 4px 0 rgba($blue, 0.2);
    border: 1px solid #dceaf9;
    border-radius: 0.4rem;
    @include form-control-focus($ignore-warning: true);
    padding: 0 0.75rem;
    height: 2.75rem;
    background-color: white;
}

// Fields
.snipcart-form__select, .snipcart-input__input {
    @extend %input-field;

    // Override bold font with regular for inputs
    &.snipcart__font--bold {
        font-family: $font-regular;
    }
}

// Remove weird iOS inner shadow for inputs
.snipcart-input__input {
    background-clip: padding-box;
}

// Remove weird Snipcart input parent container styling
.snipcart-input {
    height: auto;
    border: 0;
}

// Quantity field
.snipcart-item-quantity__quantity { 
    @extend %input-field; 
}

// PROMO CODE BOX

%snipcart-button {
    padding: 0 1rem;
    border-radius: 2.75rem;;
    height: 2.75rem;;
}

.snipcart-discount-box {
    background-color: transparent;

    .snipcart-discount-box__button {
        @extend %snipcart-button;
        background-color: $gray-300;
    }

    .snipcart-form { 
        background-color: transparent;
        box-shadow: none;
    }

    .snipcart-discount-box__form-container button {
        color: $link-color;
    }

    .snipcart-discount-box__form {
        border: none;
        background-color: transparent;
        padding: 0;

        .snipcart-input__input {
            margin-right: 1rem;
        }
    }

    .snipcart-discount-box__cancel {
        margin-left: 1rem;
    }
}

.snipcart-input--no-style .snipcart-input__input {
    padding: 0 0.75rem;
}

// Checkout button

.snipcart-cart-button {
    @extend %snipcart-button;
    align-items: center;
}

.snipcart-cart-button--highlight {
    color: white;
    background-image: none;
    background-color: $blue;
}

// Make -> arrow sit next to the "Checkout" ->
.snipcart-cart-button__icon {
    flex: 0;
}

// CHEKOUT SCREEN

// Pading of each step box
.snipcart-checkout-step {
    padding-top: 1em;
}

.snipcart-form {
    // Remove background from form containers
    background-color: transparent;
    box-shadow: none;

    .snipcart__box {
        // Instead add background to their child containers
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 1.5rem 1rem;
        margin-bottom: 0;

        .snipcart__box--badge {
            background : $blue;
            color: white;
        }
    }
}

.snipcart-form__address__autocomplete > .snipcart-textbox {
    min-height: 2.75rem;
}

// .snipcart-item-line__media--small {
//     margin-right: 1rem;
// }

// // Checkout step badges


// .snipcart-typeahead {
//     background-color: transparent;
// }

// // Checkout input fields... weird
// .snipcart-input {
//     border: 0px !important;
//     box-shadow: none !important;
//     height: auto;

//     input {
//         @extend %input-field;
//         height: 2.75rem;
//         font-family: $font-regular !important;
//     }
// }

// .snipcart-form__label {
//     @extend .label;
// }
