// GLOBAL AND LAYOUT OVERRIDES

.snipcart * {
    font-family: $font-regular;
    font-size: inherit;
    font-weight: normal;
    color: inherit;
    line-height: inherit;
}

// Snipcart font overrides
.snipcart__font--std {
    font-size: inherit;
    font-family: $font-regular;
}

.snipcart__font--bold, .snipcart__font--bold * {
    font-family: $font-bold;
}

.snipcart__font--black, .snipcart__font--subtitle {
    font-family: $font-bold;
    font-weight: normal;
}

.snipcart__font--large {
    font-size: $font-size-21;
}

// Snipcart icon colors
.snipcart__icon--blue-light path, .snipcart__icon--blue-dark path {
    fill: $link-color;
}

// Snipcart modal
.snipcart-modal__container {
    z-index: 2147483650;   // Show over facebook dialog
    // iPhone scroll - have white top and blue bottom background
    background-image: linear-gradient(white 50%, $indigo 50%);
    background-color: white;
}

.snipcart-modal {
    // Make modal background indigo
    background-color: $indigo;
}

// Snipcart header - match with height of the website header
.snipcart-cart-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    // Make header white color with shadow
    background-color: white;
    box-shadow: 0 0.25em 0.25em 0 rgba($blue, 0.1);

    // Add rounded cornens for larger resolutions
    @include media-breakpoint-up(sm){
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }
    // Copy styling from .navbar-blueberry to match its height
    button {
        margin: 0.825rem 0;

        @include media-breakpoint-up(md){
          margin: 1rem 0;
        }

        height: $nb-logo-size;
        @include media-breakpoint-up(sm) {
            height: $nb-logo-size-bigger;
        }
        @include media-breakpoint-up(md) {
            height: $nb-logo-size-biggest;
        }    
    }

    // Always show "Continue Shopping" label
    .snipcart-modal__close-title {
        display: block !important;
        line-height: inherit;
    }

    // Make "Continue Shopping" label blue
    .snipcart-cart-header__close-button * {
        color: $link-color;
    }

    // Font for final item vlue in header too big, plus fixing icon padding
    .snipcart-modal__header-summary {
        .snipcart__font--large {
            font-size: 1em;
        }

        span {
            margin-left: 0.5em;
        }
    }

    // Make header items centered and fit horizontally
    justify-content: space-between;

    .snipcart-cart-header__close-button, .snipcart-cart-header__options {
        flex: 0 1 auto;
    }

}

// Header was vertically shrinked if snipcart-layout's height is 100%
.snipcart-layout {
    height: auto;
}

// Background colors
.snipcart-cart__content {
    background-color: $indigo;
}

// "Secured by Snipcart" label background fix
.snipcart-featured-payment-methods__title {
    background-color: $indigo;
}

// Make "Checkout" button visible when scrolling to the bottom with the iPhone keyboard on
.snipcart-featured-payment-methods {
    margin-bottom: 7em;
}

// Cart summary - confusing step. Remove editing cart summary from cart summary.
.snipcart-cart-summary { 
    box-shadow: 0 0.25em 0.25em 0 rgba($blue, 0.1);

    .snipcart-cart-summary__actions.snipcart__box--header, .snipcart-cart-summary__footer { 
        display: none;
    }

    .snipcart-cart-summary-fees__total {
        padding-top: 1.5em;
    }
}


// CART SCREEN

// Shopping item container
.snipcart-item-line {
    padding: 1em;
    margin: 1em;
    box-shadow: none;
    border-radius: 0.5em;

    @include media-breakpoint-up(sm){
        padding: 2em;
        margin: 0 0 2em 0;
    }

    // Remove excess padding and margin 
    .snipcart-item-line__container {
        padding: 0;
        margin: 0;

        // Style Item Title
        .snipcart-item-line__title {
            font-family: $font-display;
        }
        
        // Hide item description
        .snipcart-item-line__info {
            display: none;
        }

        // Item variations
        .snipcart-item-line__variants {
            padding-top: 0;
            
            label {
                @extend .label;
                margin-top: 1.5em;
            }
        }     
    }
}


// FORM FIELDS

%input-field {
    box-shadow: 0 2px 4px 0 rgba($blue, 0.2);
    border: 1px solid #dceaf9;
    border-radius: 0.4rem;

    @include form-control-focus($ignore-warning: true);
}

// Remove input shadow in iOS
.snipcart-form-input {
    background-clip: padding-box;
}

// Select field
.snipcart-form__select, .snipcart-form-input {
    padding: 0 1em;
    height: 2.75em;
    font-family: $font-regular !important;
    @extend %input-field;
}

// Input field
snipcart-input__input {
    font-family: $font-regular !important;
    @extend %input-field;
}

// Quantity field
.snipcart-item-quantity__quantity { 
    height: 2.75em;
    @extend %input-field; 
}

// PROMO CODE BOX

// // Discount container
// .cart__footer-discount-box {
//     display: none;
// }

// Checkout button
.snipcart-cart-button {
    padding: 0 1rem;
    border-radius: 10rem;
    height: 2.75rem;
}

.snipcart-cart-button--highlight {
    background-image: none;
    background-color: $blue;
}

// CHEKOUT SCREEN

// .snipcart-checkout-step {
//     padding-top: 1rem;
// }

// .snipcart-form {
//     background-color: transparent;
//     box-shadow: none;
// }

// .snipcart__box {
//     background-color: #fff;
//     border-radius: 0.5rem;
//     padding: 1.5rem 1rem;
//     margin-bottom: 0;
// }

// // Back to shopping link {
// .snipcart-modal__close-title {
//     font-family: $font-bold !important;
//     color: $link-color;
// }

// // Misc margins for fields
// .snipcart-item-custom-fields__field {
//     margin-bottom: 0;
// }

// .snipcart-item-line__media--small {
//     margin-right: 1rem;
// }

// // Checkout step badges
// .snipcart__box--badge {
//     margin-top: 0px;
// }

// .snipcart-typeahead {
//     background-color: transparent;
// }

// // Checkout input fields... weird
// .snipcart-input {
//     border: 0px !important;
//     box-shadow: none !important;
//     height: auto;

//     input {
//         @extend %input-field;
//         height: 2.75rem;
//         font-family: $font-regular !important;
//     }
// }

// .snipcart-form__label {
//     @extend .label;
// }
