// Cart summary - confusing step. Remove editing cart summary from cart summary.
.snipcart-cart-summary { 
    box-shadow: 0 0.25rem 0.25rem 0 rgba($blue, 0.1);

    .snipcart-cart-summary__actions.snipcart__box--header, .snipcart-cart-summary__footer { 
        display: none;
    }

    .snipcart-cart-summary-fees__total {
        padding-top: 1.5rem;
    }
}

// Pading of each step box
.snipcart-checkout-step {
    padding-top: 1em;
}

// Styling the Checkout steps 1,2,3
.snipcart-form {
    // Remove background from form containers
    background-color: transparent;
    box-shadow: none;

    .snipcart__box {
        // Instead add background to their child containers
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 1.5rem 1rem;
        margin-bottom: 0;

        // Display Title nextto the badge
        .snipcart__box--title {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;

            .snipcart__box--badge {
                background : $blue;
                color: white;
            }        
            
            .snipcart__font--subtitle {
                font-family: $font-display;
                font-size: $font-size-21;
            }


        }

        // Align "I don't see my adress"
        .snipcart-form__row {
            align-items: center;
            
            .snipcart-form__cell--input-aligned {
                margin-top: 2.25rem;
                margin-bottom: 0;
            }
        }

        // Remove "I don't see my address" checkbox
        .addressNotFound+.snipcart-form__label--checkbox {

            &::before{
                display: none;                
            }
        }
    }
}

// Move "I don't see my address" to the right
#snipcart-checkout-step-billing .snipcart-form__row {
    justify-content: space-between;
}

// Checkboxes - make labels not span full width
.snipcart-checkbox+label {
    display: inline;
}

// Minimum height fix for address textbox
.snipcart-form__address__autocomplete > .snipcart-textbox {
    min-height: 2.75rem;
}

// Weird "Typeahead field around address textbox"
.snipcart-typeahead {
    background: transparent;
}

// .snipcart-item-line__media--small {
//     margin-right: 1rem;
// }

// // Checkout step badges


// .snipcart-typeahead {
//     background-color: transparent;
// }

// // Checkout input fields... weird
// .snipcart-input {
//     border: 0px !important;
//     box-shadow: none !important;
//     height: auto;

//     input {
//         @extend %input-field;
//         height: 2.75rem;
//         font-family: $font-regular !important;
//     }
// }

// .snipcart-form__label {
//     @extend .label;
// }
