// FONTS AND COLORS
.snipcart * {
    font-family: $font-regular;
    font-size: inherit;
    font-weight: normal;
    color: inherit;
    line-height: inherit;
}

.snipcart__font--std {
    font-size: inherit;
    font-family: $font-regular;
}

.snipcart__font--bold, .snipcart__font--bold * {
    font-family: $font-bold;
}

.snipcart__font--black, .snipcart__font--subtitle {
    font-family: $font-bold;
    font-weight: normal;
}

.snipcart__font--large {
    font-size: $font-size-21;
}

.snipcart__font--xlarge {
    font-size: $font-size-21;
}

// Snipcart icon colors
.snipcart__icon--blue-light path, .snipcart__icon--blue-dark path {
    fill: $link-color;
}


// MODAL DIALOG
.snipcart-modal__container {
    z-index: 2147483650;   // Show over facebook dialog
    // iPhone scroll - have white top and blue bottom background
    background-image: linear-gradient(white 50%, $indigo 50%);
    background-color: white;
}

.snipcart-modal {
    // Make modal background indigo
    background-color: $indigo;
}

// NAVBAR
.snipcart-cart-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    // Make header white color with shadow
    background-color: white;
    box-shadow: 0 0.25rem 0.25rem 0 rgba($blue, 0.1);

    // Add rounded cornens for larger resolutions
    @include media-breakpoint-up(sm){
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    // Copy styling from .navbar-blueberry to match its height
    button {
        margin: 0.825rem 0;

        @include media-breakpoint-up(md){
          margin: 1rem 0;
        }

        height: $nb-logo-size;
        @include media-breakpoint-up(sm) {
            height: $nb-logo-size-bigger;
        }
        @include media-breakpoint-up(md) {
            height: $nb-logo-size-biggest;
        }    
    }

    // Always show "Continue Shopping" label
    .snipcart-modal__close-title {
        display: block !important;
        line-height: inherit;
    }

    // Make "Continue Shopping" label blue
    .snipcart-cart-header__close-button * {
        color: $link-color;
    }

    // Font for final item vlue in header too big, plus fixing icon padding
    .snipcart-modal__header-summary {
        .snipcart__font--large {
            font-size: 1rem;
        }

        span {
            margin-left: 0.5rem;
        }
    }

    // Make header items centered and fit horizontally
    justify-content: space-between;

    .snipcart-cart-header__close-button, .snipcart-cart-header__options {
        flex: 0 1 auto;
    }
}

// Header was vertically shrinked if snipcart-layout's height is 100%
.snipcart-layout {
    height: auto;
}

// Background colors
.snipcart-cart__content {
    background-color: $indigo;
}

// FORM FIELDS

%input-field {
    box-shadow: 0 2px 4px 0 rgba($blue, 0.2);
    border: 1px solid #dceaf9;
    border-radius: 0.4rem;
    @include form-control-focus($ignore-warning: true);
    padding: 0 0.75rem;
    height: 2.75rem;
    background-color: white;
}

.snipcart-form__select, .snipcart-input__input {
    @extend %input-field;

    // Override bold font with regular for inputs
    &.snipcart__font--bold {
        font-family: $font-regular;
    }
}

// Remove weird iOS inner shadow for inputs
.snipcart-input__input {
    background-clip: padding-box;
}

// Remove weird Snipcart input parent container styling
.snipcart-input {
    height: auto;
    border: 0;
}
