.snipcart {
    font-family: $font-regular;
    font-size: inherit;
    font-weight: normal;
    color: inherit;
}


// Snipcart fonts
.snipcart__font--std {
    font-family: $font-regular;
}

.snipcart__font--secondary {
    font-family: $font-bold;
}

.snipcart__font--black, .snipcart__font--subtitle {
    font-family: $font-bold;
    font-weight: normal;
}

// Snipcart modal
.snipcart-modal__container {
    z-index: 2147483650;   // Show over facebook dialog 
    background-image: linear-gradient(white 50%, $indigo 50%);
    background-color: white;
}

.snipcart-modal {
    background-color: $indigo;
}

// Snipcart header - match with height of the website header
.snipcart-cart-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba($blue, 0.1);

    button {
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: $nb-logo-size;

        @include media-breakpoint-up(sm) {
            height: $nb-logo-size-bigger;
        }
        @include media-breakpoint-up(md) {
            height: $nb-logo-size-biggest;
        }    
    }
}

.snipcart-layout__content {
    background-color: $indigo;
}

.snipcart-cart__content {
    background-color: $indigo;
}

.snipcart-payment-methods__title {
    background-color: $indigo;
}

.snipcart-cart-summary { 
    border-radius: 0 0 0.5rem 0.5rem;
    overflow: hidden;    
    box-shadow: 0 4px 4px 0 rgba($blue, 0.1);

    .snipcart-cart-summary__actions.snipcart__box--header, .snipcart-cart-summary__footer { 
        display: none;
    }
}

.snipcart-form {
    box-shadow: none;
    border-radius: 0.5rem;
}

.snipcart-item-line {
    border-radius: 0.5rem;
}

// Important for mobile (iOS) - header got shrinked
.snipcart-layout {
    height: auto;
}

// .snipcart-layout__content{
//     display: flex;
// }

// Back to shopping link {
.snipcart-modal__close-title {
    font-family: $font-bold !important;
    color: $link-color;
}

// Item container
.snipcart-item-line {
    padding: 15px;
    margin: 15px;
    box-shadow: none;

    @include media-breakpoint-up(sm){
        padding: 32px;
        margin: 0 0 32px 0;
    }
}

// Description
.snipcart-item-line__info {
    display: none;
}

%input-field {
    box-shadow: 0 2px 4px 0 rgba($blue, 0.2);
    border: 1px solid #dceaf9;
    border-radius: 0.4rem;

    @include form-control-focus($ignore-warning: true);
}

// Select field
.snipcart-form__select, .snipcart-form-input {
    padding: 0 1rem;
    height: 2.75rem;
    font-family: $font-regular !important;
    @extend %input-field;
}

// Input field
snipcart-input__input {
    font-family: $font-regular !important;
    @extend %input-field;
}

// Quantity field
.snipcart-item-quantity__quantity { 
    height: 2.75rem;
    @extend %input-field; 
}

// Discount container
.cart__footer-discount-box {
    display: none;
}

// Checkout button
.snipcart-cart-button {
    padding: 0 1rem;
    border-radius: 10rem;
    height: 2.75rem;
}

.snipcart-cart-button--highlight {
    background-image: none;
    background-color: $blue;
}

// Misc margins for fields
.snipcart-item-custom-fields__field {
    margin-bottom: 0;
}

.snipcart-item-line__title {
    font-family: $font-display;
}

.snipcart-item-line__media--small {
    margin-right: 1rem;
}

.snipcart-item-line__variants {
    padding-top: 0;
}

.snipcart-item-line__variants label {
    @extend .label;
    margin-top: 1.5rem;
}

// Secured by snipcart
.snipcart-featured-payment-methods__title {
    background-color: $indigo;
}

// Checkout step badges
.snipcart__box--badge {
    margin-top: -24px;
}

.snipcart-typeahead {
    background-color: transparent;
}

// Checkout input fields... weird
.snipcart-input {
    border: 0px !important;
    box-shadow: none !important;
    height: auto;

    input {
        @extend %input-field;
        height: 2.75rem;
        font-family: $font-regular !important;
    }
}

.snipcart-form__label {
    @extend .label;
}
