/*! Snipcart Theming: https://docs.snipcart.com/v3/setup/theming */
/* Syntax to integrate SASS variables into CSS variables: https://sass-lang.com/documentation/breaking-changes/css-vars */

// Bootstrap darkens color 7.5%
$primary-color-hover: darken($primary, 7.5%);
$ui-element-shadow: 0 2px 4px 0 #{rgba($blue, 0.2)};
$ui-element-shadow-red: 0 2px 4px 0 #{rgba($red, 0.2)};

#snipcart {
    // Default text color
    --color-default: #{$body-color};

    // Default background color
    --bgColor-default: white;

    // Default border color (for separators)
    --borderColor-default: #e3e6e8;

    // Primary Button
    --color-buttonPrimary: #FFFFFF;
    --color-buttonPrimary-hover: #FFFFFF;
    --bgColor-buttonPrimary: #{$primary};
    --bgColor-buttonPrimary-hover: #{$primary-color-hover};
    --borderColor-buttonPrimary: #{$primary};
    --borderColor-buttonPrimary-hover: #{$primary-color-hover};  
    --shadow-buttonPrimary-hover: #{$ui-element-shadow};

    // Secondary Button
    --color-buttonSecondary: #{$primary};
    --color-buttonSecondary-hover: #{$primary-color-hover}; 
    --bgColor-buttonSecondary: #FFFFFF;
    --bgColor-buttonSecondary-hover: #FFFFFF;    
    --borderColor-buttonSecondary: #{$primary};
    --borderColor-buttonSecondary-hover: #{$primary-color-hover}; 
    --shadow-buttonSecondary-hover: #{$ui-element-shadow};

    // Default shadow - for boxes (containers)
    --shadow-default: 0 0.25rem 0.25rem 0 #{rgba($blue, 0.1)}; // Same as website header

    // Inputs
    --bgColor-input: #FFFFFF;
    --borderColor-input: #dceaf9;
    --borderColor-input-hover: #dceaf9;    
    --borderColor-input-focus: #{$primary};

    --shadow-input-focus:  #{$ui-element-shadow};
    --shadow-input-error:  #{$ui-element-shadow-red};

    // Icons
    --color-icon: #{$body-color};

    // Link colors
    --color-link: #{$link-color};
    --color-link-hover: #{$link-hover-color};

    // Last Payment icon (turned out to be a Snipcart "badge", not icon?) on order complete page was blue
    --color-badge: #{$body-color};

    // Sliding Cart Modal on the right on the checkout step
    --bgColor-modal: transparent;
    --bgColor-modalVeil: rgba(0,0,0,0.4);
    --bgColor-alt: white;
}