// .snipcart-modal__container {
//     z-index: 200;
// }

// Cart

.snipcart-checkout {
    position: relative;

    svg {
        fill: $blue;
    }

    .snipcart-items-count {
        position: absolute;
        top: -0.0625rem;
        right: -0.2rem;
        background-color: #212B36;
        color: white;
        // font-family: $font-bold;
        font-weight: bolder; // Native font stack
        
        font-size: $font-size-12;
        padding: 0 0.3rem;
        border-radius: 2rem;
        box-shadow: 0 0 0 0.125rem white;
        height: 1.2rem;
        line-height: 1.35rem;
        min-width: 1.2rem;
        text-align: center;

        .transparent & {
            box-shadow: 0 0 0 0.125rem $indigo;
        }
    }
}