@use 'sass:math';

:root{
  --box-shadow-blueberry: 0 5px 30px 0 rgba(0,0,0,0.1);
}

@include color-mode(dark){
  :root{
    --box-shadow-blueberry-dark: 0 5px 30px 0 rgba(0,0,0,0.1);
  }
}

.my-label {
  font-size: $font-size-12;
  font-weight: bold;

  color: $body-secondary-color;
  text-transform: uppercase;
  letter-spacing: 2px;
}
