:root{
  --color-indigo: #E5F3F9;
  --box-shadow-blueberry: 0 0.25rem 2rem 0 rgba(0,0,0,0.1);
}

@media (prefers-color-scheme: dark) {
  :root{
    --box-shadow-blueberry: 0 0.25rem 2rem 0 rgba(0,0,0,0.3);
    --color-indigo: var(--bs-dark-bg-subtle);
  }
}

.my-label {
  font-size: $font-size-12;
  font-weight: bold;
  margin-bottom: .5rem;
  margin-top: 1rem;
  color: var(--bs-tertiary-color);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}
