.spacer-footer {
  padding-bottom: 9.609375vw; // calc 123/1280 * 100 vw
}

footer {
  margin-top: -9.2vw; // calc 123/1280 * 100 vw but a bit less

  .section-blue {
    background-color: $blue;
  }

  .logo-circ,
  .logo-text {
    height: var(--nb-logo-size);
  }

  a {
    // font-family: $font-bold;
    font-weight: bold; // Native font stack

    color: white;
    white-space: nowrap;

    svg,
    svg * {
      fill: white;
    }
  }

  .payment-icon {
    filter: invert(100%);
  }
}