[class^=icon-]{
  display: inline-block;

  svg {
    transform: translateY(-0.08rem);
  }
}

.icon-xs {
  svg, img {
    height: 1.25rem;
    width: auto;    
  }
}

.icon-sm {
  svg, img {
    height: 1.75rem;
    width: auto;    
  }
}

.icon-md {
  svg, img {
    height: 2rem;
    width: auto;
  }
}

.icon-lg {
  svg, img {
    height: 2.5rem;
    width: auto;    
  }
}

.icon-xl {
  svg, img {
    height: 3rem;
    width: auto; 
  }
}

.icon-xxl {
  svg, img {
    height: 4rem;
    width: auto; 
  }
}