[class^=icon-]{
  display: inline-block;

  svg {
    transform: translateY(-0.08rem);
  }
}

.icon-xs {
  svg {
    height: 1.25rem;
  }
}

.icon-sm {
  svg {
    height: 1.75rem;
  }
}

.icon-md {
  svg {
    height: 2rem;
  }
}

.icon-lg {
  svg {
    height: 2.5rem;
  }
}

.icon-xl {
  svg {
    height: 3rem;
  }
}

.icon-xxl {
  svg {
    height: 4rem;
  }
}
