.icon-xs {
  svg {
    height: 1rem;
  }
}

.icon-sm {
  svg {
    height: 1.5rem;
  }
}

.icon-md {
  svg {
    height: 2rem;
  }
}

.icon-lg {
  svg {
    height: 2.5rem;
  }
}

.icon-xl {
  svg {
    height: 3rem;
  }
}
