@mixin material-shadow($color) {
  box-shadow: rgba($color, 0.2) 0px 3px 5px -1px, rgba($color, 0.14) 0px 6px 10px 0px, rgba($color, 0.12) 0px 1px 18px 0px;
}

@mixin material-shadow-hover($color) {
  box-shadow: rgba($color, 0.2) 0px 5px 5px -3px, rgba($color, 0.14) 0px 8px 10px 1px, rgba($color, 0.12) 0px 3px 14px 2px;
}

@mixin label {
  font-size: $font-size-12;
  font-family: $font-bold;
  color: $text-muted;
  text-transform: uppercase;
  letter-spacing: 2px;
}
