.text-transparent {
  color: transparent;
}

.line-height-1 {
  line-height: 1;
}

.line-height-13 {
  line-height: 1.3;
}

.line-height-2 {
  line-height: 2;
}

.line-height-25 {
  line-height: 2.5;
}


.no-outline {
  outline: none !important;
  box-shadow: none !important;
}

.invisible {
  width: 0;
  height: 0;
  visibility: hidden;
  pointer-events: none;
}

.zero-size-invisible {
  width: 0;
  height: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-com);
}

.cryptedphone:after {
  content: attr(data-country) " (" attr(data-area) ") " attr(data-local);
}

.transform-scale-85 {
  transform: scale(0.85);
}

.opacity-50 {
  opacity: 0.5;
}