$box-shadow-blueberry: 0 5px 30px 0 rgba(0,0,0,0.1);

%navbar-extend {
  box-shadow: 0 0.125rem 2rem 0 rgba(0,0,0,0.1);
  background-color: white;
  padding-left: 0;
  padding-right: 0;

  .container {
    padding-left: $grid-gutter-width / 2 !important;
    padding-right: $grid-gutter-width / 2 !important;
  }
}
