#noty_layout__responsive {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 71px + $grid-gutter-width / 2;
  right: $grid-gutter-width / 2;
  left: $grid-gutter-width / 2;
  z-index: 9999999;

  .type {
    font-family: $font-bold;
    letter-spacing: 1px;
    margin-top: 0.45rem;
    color: black;
    opacity: 0.4;
    font-size: $font-size-12;
  }

  @include media-breakpoint-up(sm){
    left: auto;
    top: 75px + $grid-gutter-width / 2;
    width: 20rem;
  }

  @include media-breakpoint-up(md){
    top: 84px + $grid-gutter-width / 2;
  }

  @include media-breakpoint-up(lg){
    top: $grid-gutter-width / 2;
  }
}

.noty_bar.noty_theme__custom {
  border-radius: $border-radius;
  box-shadow: $box-shadow-blueberry;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  &.noty_type__success {
    background-color: $green;
    color: white;
  }

  &.noty_type__error {
    background-color: $red;
    color: white;
  }
}
