.noty_bar.noty_theme__custom {
  border-radius: $border-radius;
  box-shadow: $box-shadow-blueberry;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  &.noty_type__success {
    background-color: $green;
    color: white;
  }

  &.noty_type__error {
    background-color: $red;
    color: white;
  }
}