/* Overrides for Toastify plugin */

.toastify {

  max-width: calc(100% - 30px);

  @include media-breakpoint-up(md) {
    max-width: calc(50% - 20px);    
  }

  &.success {
    background: $green;
    color: white;
  }

  &.error {
    background: $red;
    color: white;
  }
}

.toast-close {
  padding: 0 0 0 15px;
}

