.section-intro {
  .section-intro-mobile-bg {
    // background-color: $blue; //transparentize($blue, 0.2);
    // background-image: url(/img/bmw-window-vinyl-sticker-decal-xs.jpg);
    background-image: url(/img/bimmer-sticker-xs.jpg);
    background-size: cover;
    background-position: center 69%;
    // background-blend-mode: soft-light;

    @include media-breakpoint-up(md){
      background-image: url(/img/bimmer-sticker-md.jpg);
    }

    @include media-breakpoint-up(lg){
      background-color: transparent;
      background-image: none;
    }
  }

  @include media-breakpoint-up(lg){
    // background-image: url(/img/bmw-window-vinyl-sticker-decal-lg.jpg);
    background-image: url(/img/bimmer-sticker-lg.jpg);
    background-size: 130%;
    background-position: center top;
    background-repeat: no-repeat;

    // position: relative;
    //
    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: 45%;
    //   top: 0;
    //   bottom: 0;
    //   right: 0;
    //   background-image: url(/img/bmw-window-vinyl-sticker-decal-lg-e90.jpg);
    //   background-size: cover;
    //   background-position: left top;
    //   background-repeat: no-repeat;
    // }
  }
}

.section-whitesmoke {
  border-top: 1px solid #e9e9e9;
  background-color: #f6f8fa;
}

.section-hairline {
  border-bottom: 2px solid #f5f5f5;
}

// .card-columns {
//   @include media-breakpoint-only(lg) {
//     column-count: 4;
//   }
//   @include media-breakpoint-only(xl) {
//     column-count: 3;
//   }
// }
