.car-container {
    margin-bottom: 1.1rem;
}

.truck-container {
    margin-left: -3rem;
    margin-right: -3rem;

    // @include media-breakpoint-up(lg) {
    //     margin-left: -3rem;
    //     margin-right: -3rem;
    // }

    // @include media-breakpoint-up(xl) {
    // }
}